<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台系统</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/web/backstage/css/bootstrap.min.css">
    <link rel="stylesheet" href="/web/backstage/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web/backstage/css/fontastic.css">
    <link rel="stylesheet" href="/web/backstage/css/cinemabackstage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    <link rel="stylesheet" href="/web/backstage/css/custom.css">
    <link rel="shortcut icon" href="/web/backstage/img/favicon.ico">
    <title>后台首页</title>
</head>

<body>
<div class="page" id="app">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand -->
                        <a href="backstageIndex.html" class="navbar-brand d-none d-sm-inline-block">
                            <div class="brand-text d-none d-lg-inline-block">
                                <img class="cinemalogoimg" :src="admin.logo"
                                     alt="此处logo静待贵院上传"/>
                            </div>
                        </a>
                        <!-- Toggle Button-->
                        <a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
                    </div>
                    <!-- Navbar Menu -->
                    <div class="nav-item dropdown">
                        <a href="javascript:;" id="languages" rel="nofollow" data-target="#" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" class="nav-link language dropdown-toggle" v-text="admin.username"></a>
                        <ul aria-labelledby="pageskipping" class="dropdown-menu">
                            <li>
                                <a rel="nofollow" :href="'/web/feng/cinemaIndex.html?aid='+admin.id" class="dropdown-item"><span
                                        class="d-none d-sm-inline">影院主页</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="dropdown-item"><span id="logout" class="d-none d-sm-inline">注　　销</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar">
                    <img src="/web/backstage/img/avatar-1.jpg" class="img-fluid rounded-circle">
                </div>
                <div class="title">
                    <h1 class="h4" v-text="admin.username"></h1>
                    <p>超级管理员</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">主菜单</span>
            <ul id="mainmenu" class="list-unstyled">
                <li onclick="changetoindex(this)" class="active">
                    <a href="javascript:;"> 主页</a>
                </li>
                <li id="ullist" v-if="state==1">
                    <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">影院管理</a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                        <li onclick="changetoform(this)">
                            <a href="javascript:;">基本信息管理 </a>
                        </li>
                        <li onclick="tochangelogo(this)">
                            <a href="javascript:;">修改影院logo</a>
                        </li>
                        <li onclick="tochangepics(this)">
                            <a href="javascript:;">上传影院图片</a>
                        </li>
                    </ul>
                </li>
                <li onclick="changetotable(this)" v-if="state==1">
                    <a href="javascript:;">放映点管理 </a>
                </li>
                <li onclick="tochangeroom(this)" v-if="state==1">
                    <a href="javascript:;">放映厅管理</a>
                </li>
                <li onclick="changetofilms(this)" v-if="state==1">
                    <a href="javascript:;">排片管理 </a>
                </li>
                <li onclick="changetoOrders(this)" v-if="state==1">
                    <a href="javascript:;">订单查看 </a>
                </li>
            </ul>
        </nav>
        <div class="content-inner">
            <iframe id="changehtml" src="/web/feng/backstage/index.html" width="100%" height="100%"
                    frameborder="0"></iframe>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script src="/web/backstage/vendor/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/web/backstage/vendor/popper.js/umd/popper.min.js" type="text/javascript"></script>
<script src="/web/backstage/vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/web/backstage/vendor/jquery.cookie/jquery.cookie.js" type="text/javascript"></script>
<script src="/web/backstage/vendor/chart.js/Chart.js" type="text/javascript"></script>
<script src="/web/backstage/vendor/jquery-validation/jquery.validate.min.js" type="text/javascript"></script>
<script src="/web/backstage/js/charts-home.js" type="text/javascript"></script>

<script src="/web/backstage/js/vue.js" type="text/javascript"></script>

<!-- Main File-->
<script src="/web/backstage/js/front.js" type="text/javascript"></script>
<script type="text/javascript">
    new Vue({
        el:"#app",
        data:{
            admin:{},
            state:""
        },
        created:function () {
            var _this=this;
            console.log("查询当前用户")
            //查询当前用户
            $.ajax({
                url:"/cinema-stage/admin/cadmin",
                type:"get",
                dataType:"json",
                data:{},
                success:function (data) {
                    console.log(data)
                    //如果是未登录，则跳转到登录页面
                    if(data.code=="fail"){
                        location.href="/web/feng/backstage/login.html"
                    }else{
                        _this.admin=data.object;
                        console.log(data)
                        //判断当前用户是否到期
                        var today=new Date();
                        var overtime=new Date(_this.admin.overtime);
                        console.log(today)
                        console.log(overtime)
                        if(today>overtime){
                            console.log("已经过期了")
                            _this.state=0;
                        }else{
                            console.log("还没有过期")
                            _this.state=1;
                        }



                    }
                }

            })


        }


    })




</script>




<script type="text/javascript">

    $("#logout").click(function () {
        $.ajax({
            url: "/cinema-stage/admin/cAdminlogout",
            type: "delete",
            dataType: "json",
            success: function (data) {

                if (data.code=="success") {
                	location.href="/web/feng/backstage/login.html"
				}


            }
        })
    })

    function changetoindex(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/index.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#ullist ul li").removeClass("active");
    };

    function changetotable(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/tables.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#ullist ul li").removeClass("active");
    };

    function changetofilms(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/films.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#ullist ul li").removeClass("active");
    };

    function changetoform(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/forms.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#mainmenu").children().removeClass("active");
    };

    function tochangelogo(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/uploadlogo.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#mainmenu").children().removeClass("active");
    };

    function backtoindex(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/index.html");
        $("#mainmenu").children(":eq(0)").addClass("active");
        $("#mainmenu").children(":eq(0)").siblings().removeClass("active");
        $("#ullist ul li").removeClass("active");
    };

    function tochangepics(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/uploadpics.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#mainmenu").children().removeClass("active");
    };

    function tochangeroom(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/setseats.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#ullist ul li").removeClass("active");
    };
     function changetoOrders(obj) {
        $("#changehtml").attr("src", "/web/feng/backstage/ordersgather.html");
        $(obj).addClass("active");
        $(obj).siblings().removeClass("active");
        $("#mainmenu").children().removeClass("active");
    };

</script>
</body>
</html>