<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="robots" content="all,follow">
    	<link rel="stylesheet" href="/web/backstage/css/bootstrap.min.css">
		<link rel="stylesheet" href="/web/backstage/css/font-awesome.min.css">
		<link rel="stylesheet" href="/web/backstage/css/fontastic.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
		<link rel="stylesheet" href="/web/backstage/css/cinemabackstage.css" id="theme-stylesheet">
		<link rel="stylesheet" href="/web/backstage/css/custom.css">
		<link rel="shortcut icon" href="/web/backstage/img/favicon.ico">
		<script type="text/javascript" src="/web/backstage/js/jquery-3.4.0.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="page" id="app">
			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">影片设置</h2>
					</div>
				</header>
				<section class="col-lg-6">
					<div class="container-fluid">
						<div class="row">
							<form id="filmsdeal" action="" method="post">
								<select class="form-control" id="playpoint" name="playpoint" @change="selectShowTime()">
									<option value="0" selected="selected" disabled="disabled">请选择需要排片的门店</option>
									<option v-for="cinema in cinemaList" :value="cinema.id" v-text="cinema.cname">万达影城（江北店）</option>
								</select>
								<select class="form-control" id="filmname" name="filmname" @change="selectShowTime()">
									<option value="0" selected="selected" disabled="disabled">请选择需要安排片场的电影名</option>
									<option v-for="movie in movieList" :value="movie.id" v-text="movie.mname">速度与激情</option>
								</select>
							</form>
						</div>
					</div>
				</section>
				<section class=" filmsetdiv">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 ">
								<div class="card">
									<div class="card-close">
										<div class="dropdown">
											<button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">O</button>
											<div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow">
												<a class="dropdown-item remove"> <i class="fa fa-times"></i>关闭窗口</a>
												<a class="dropdown-item edit" data-toggle="modal" data-target="#myModal"> <i class="fa fa-gear"></i>新增排片</a>
											</div>
										</div>
									</div>
									<div class="card-header d-flex align-items-center">
										<h5 v-if="JSON.stringify(nowMovie) == '{}'">暂未选择任何电影</h5>
										<h5 v-else v-text="nowMovie.mname"></h5>
										<h3 class="h4">————当前选中影片排片详情</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-striped table-sm">
												<thead>
												<tr>
													<th>#</th>
													<th>电影名</th>
													<th>上映时间</th>
													<th>放映点设置</th>
													<th>放映日期</th>
													<th>放映时间</th>
													<th>影厅设置</th>
													<th>票价</th>
													<th>设置</th>
												</tr>
												</thead>
												<tbody>
												<tr v-for="(show,index) in movieshow">
													<th scope="row" v-text="index+1"></th>
													<td v-text="nowMovie.mname">速度与激情</td>
													<td v-text="nowMovie.uptime">2019-9-13</td>
													<td v-text="nowCinema.cname">万达影城(江北店)</td>
													<td v-text="show.play1">2019-9-20</td>
													<td v-text="show.play2">14：35</td>
													<td v-text="show.cinemaRoom.name">10号厅</td>
													<td v-text="show.money+'元'">35元</td>
													<td class=""><a href="javascript:;" @click="editShow(show.id)">编辑</a></td>
												</tr>
												</tbody>
											</table>
										</div>

<!--										新增排片信息的模态框-->
										<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
											<div role="document" class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title" v-if="JSON.stringify(nowMovie) == '{}'">暂未选择任何电影</h4>
														<h4 class="modal-title" v-else v-text="nowMovie.mname"></h4>
														<h4 id="exampleModalLabel" class="modal-title">----新增排片</h4>
														<button type="button" id="closeInsert" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
													</div>
													<div class="modal-body">
														<p>本影片排片增加</p>
														<form id="insertForm">
															<div class="form-group">
																<label>放映日期</label>
																<input type="date" name="insertDate" value="" id="p1date" class="form-control">
															</div>
															<div class="form-group">
																<label>放映时间</label>
																<input type="time" name="insertTime" value="" id="p1time" class="form-control">
															</div>
<!--															<div class="form-group">-->
<!--																<label>放映时间</label>-->
<!--																<input type="time" name="playtime" value="14:35" class="form-control">-->
<!--															</div>-->
															<div class="form-group">
																<label>播放影厅</label>
																<select class="form-control" name="roomId">
																	<option value="0" selected="selected" disabled="disabled">选择影厅</option>
																	<option v-for="room in roomList" :value="room.id" v-text="room.name"></option>
																</select>
															</div>
															<div class="form-group">
																<label>电影票价</label>
																<input type="text" placeholder="售价" name="money" value="" class="form-control">
															</div>
															<div class="form-group">
																<input type="button" value="确认新增" class="btn btn-primary" @click="insertShowTime()">
																<input type="reset" id="insertReset" value="重置" class="btn-warning">
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 ">

							</div>


<!--							跟新的表单-->
							<div class="col-lg-8 offset-4 "id="filmdeal" style="display: none;" >
								<div class="card">
									<div class="card-header d-flex align-items-center">
										<h5 v-text="nowMovie.mname">速度与激情</h5><h3 class="h4">————影片排片设置</h3>
									</div>
									<div class="card-body">
										<form id="updateForm">
											<input type="hidden" name="id" :value="updateShow.id">
											<div class="form-group">
												<label>放映日期</label>
												<input type="date" name="updateDate" v-model="updateShow.play1" class="form-control">
											</div>
											<div class="form-group">
												<label>放映时间</label>
												<input type="time" name="updateTime" v-model="updateShow.play2" class="form-control">
											</div>
											<div class="form-group">
												<label>播放影厅</label>
												<select class="form-control" name="room" v-model="updateShow.roomId">
													<option value="0" disabled="disabled">选择影厅</option>
													<option v-for="room in roomList" :value="room.id" v-text="room.name" :selected="updateShow.roomId==room.id?true:false"></option>
												</select>
											</div>
											<div class="form-group">
												<label>电影票价</label>
												<input type="text" placeholder="售价" v-model="updateShow.money" class="form-control">
											</div>
											<div class="form-group">
												<input type="button" value="保存修改" class="btn btn-primary" @click="updateShowTime()">
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>


				</section>
			</div>
		</div>
		<!-- JavaScript files-->
    <script src="/web/backstage/vendor/jquery/jquery.min.js"></script>
    <script src="/web/backstage/vendor/popper.js/umd/popper.min.js"> </script>
    <script src="/web/backstage/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/web/backstage/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/web/backstage/vendor/chart.js/Chart.min.js"></script>
    <script src="/web/backstage/vendor/jquery-validation/jquery.validate.min.js"></script>
	<script src="/web/js/vue.js"></script>
    <!-- Main File-->
    <script src="/web/backstage/js/front.js"></script>
    <script type="text/javascript">
    	$(function () {
			var app=new Vue({
				el:"#app",
				data:{
					// 当前登录人的所有影院
					cinemaList:[],
					// 所有可上映电影集合
					movieList:[],
					// 当前电影
					nowMovie:{},
					// 当前电影院
					nowCinema:{},
					// 当前影院当前电影的拍片集合
					movieshow:[],
					// 当前影院的放映厅集合
					roomList:[],
					// 跟新的拍片信息
					updateShow:{}

                },
				created:function () {
					var _this=this;
					//查询当前登录用户

                    //查询当前登录影院的所有放映点//aid
                    $.ajax({
						url:"/cinema-stage/cinema/all",
						data:{
							"aid":1
						},
						type:"get",
						dataType:"json",
						success:function (data) {
							console.log(data)
							_this.cinemaList=data.list;
						}
					});

                    //查询所有可拍片电影
					$.ajax({
						url:"/movie-stage/movie/all",
						type:"get",
						dataType:"json",
						success:function (data) {
							console.log(data);
							_this.movieList=data.list;
						}
					})



				},
				methods:{

					selectShowTime:function () {
						var cid=parseInt($("#playpoint").val());
						var mid=parseInt($("#filmname").val());
						if(!(cid>0 && mid >0)){
							return false;
						}

						//查询当前选择的影院
						for(var i=0;i<app.cinemaList.length;i++){
							if(app.cinemaList[i].id==cid){
								app.nowCinema=app.cinemaList[i];
								break;
							}
						}

						//查询当前选择的电影
						for(var i=0;i<app.movieList.length;i++){
							if(app.movieList[i].id==mid){
								//格式胡电影上映时间
								var formatTime=getTime(app.movieList[i].uptime);
								app.movieList[i].uptime=formatTime.split(" ")[0]
								app.nowMovie=app.movieList[i];
								break;
							}
						}


						//根据cid查询所有得到影厅信息
						$.ajax({
							url:"/cinema-stage/room/bycid",
							type:"get",
							data:{
								"cid":cid
							},
							dataType:"json",
							success:function (data) {
								app.roomList=data.list;
							}
						});


						//根据cid和mid查询排片信息
						$.ajax({
							url:"/movie-stage/showtime/select",
							type:"get",
							data:{
								"cid":cid,
								"mid":mid
							},
							dataType:"json",
							success:function (data) {
								for(var i=0;i<data.list.length;i++){
									//格式化放映时间
									var datetime=getTime(data.list[i].playtime);
									data.list[i].play1=datetime.split(" ")[0];
									data.list[i].play2=datetime.split(" ")[1];
								}
								app.movieshow=data.list;
							}
						})



					},


					//新增排片信息
					insertShowTime : function () {
						var formData=new FormData($("#insertForm")[0]);
						formData.append("playtime",formData.get("insertDate")+" "+formData.get("insertTime")+":00")
						formData.append("cid",app.nowCinema.id)
						formData.append("mid",app.nowMovie.id)
						$.ajax({
							url:"/movie-stage/showtime/insert",
							type:"post",
							data:formData,
							processData: false,
							contentType: false,
							dataType:"json",
							success:function (data) {
								if(data.code=="success"){
									$("#insertReset").click();
									$("#closeInsert").click();
									//根据cid和mid查询排片信息
									$.ajax({
										url:"/movie-stage/showtime/select",
										type:"get",
										data:{
											"cid":app.nowCinema.id,
											"mid":app.nowMovie.id
										},
										dataType:"json",
										success:function (data) {
											for(var i=0;i<data.list.length;i++){
												//格式化放映时间
												var datetime=getTime(data.list[i].playtime);
												data.list[i].play1=datetime.split(" ")[0];
												data.list[i].play2=datetime.split(" ")[1];
											}
											app.movieshow=data.list;
										}
									})

								}
							}
						});




					},

					//编辑排片方法回显
					editShow:function (sid) {
						for(var i=0;i<app.movieshow.length;i++){
							if(app.movieshow[i].id==sid){
								app.updateShow=app.movieshow[i];
								break;
							}
						}
						$("#filmdeal").css("display","block");
					},

					updateShowTime:function () {
						app.updateShow.playtime=app.updateShow.play1+' '+app.updateShow.play2
						console.log(app.updateShow)

						$.ajax({
							url:"/movie-stage/showtime/update",
							data:{
								"id":app.updateShow.id,
								"cid":app.updateShow.cid,
								"mid":app.updateShow.mid,
								"playtime":app.updateShow.playtime,
								"roomId":app.updateShow.roomId,
								"money":app.updateShow.money
							},
							dataType:"json",
							type:"put",
							success:function (data) {
								if(data.code=="success"){//修改成功
									$("#filmdeal").css("display","none");
									$.ajax({
										url:"/movie-stage/showtime/select",
										type:"get",
										data:{
											"cid":app.nowCinema.id,
											"mid":app.nowMovie.id
										},
										dataType:"json",
										success:function (data) {
											for(var i=0;i<data.list.length;i++){
												//格式化放映时间
												var datetime=getTime(data.list[i].playtime);
												data.list[i].play1=datetime.split(" ")[0];
												data.list[i].play2=datetime.split(" ")[1];
											}
											app.movieshow=data.list;
										}
									})
								}
							}
						})
					}




				}

			})



		})
		/**
		 * 格式化时间
		 * @param second
		 * @param getDateType
		 * @returns {string|number}
		 */
		function getTime(second) {
			var date =new Date(second);
			var year = date.getFullYear()
			if((date.getMonth()+1)<=9){
				var month ="0"+(date.getMonth()+1);
			}else {
				var month =date.getMonth()+1;
			}
			if(date.getDate()<=9){
				var day =  "0"+date.getDate();
			}else {
				var day =   date.getDate();
			}
			if(date.getHours()<=9){
				var hour =  "0"+date.getHours();
			}else {
				var hour =  date.getHours();
			}
			if(date.getMinutes()<=9){
				var minutes =  "0"+date.getMinutes();
			}else {
				var minutes =  date.getMinutes();
			}
			if(date.getSeconds ()<=9){
				var seconds = "0" + date.getSeconds ();
			}else{
				var seconds =  date.getSeconds ();
			}
			return year+"-"+month+"-"+day+" "+hour+":"+minutes+":"+seconds;
		}







    </script>
	</body>
</html>
