<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>影院影厅管理</title>
<meta name="keywords" content="选座系统" />
<meta name="description" content="jquery.seat-charts是一款适合电影票、高铁票的在线选座插件。" />
<link rel="stylesheet" type="text/css" href="/web/backstage/css/reset.css" />
<link rel="stylesheet" href="/web/backstage/css/bootstrap.min.css">
<link rel="stylesheet" href="/web/backstage/css/font-awesome.min.css">
<link rel="stylesheet" href="/web/backstage/css/fontastic.css">
<link rel="stylesheet" href="/web/backstage/https://fonts.googleapis.com/css?family=Poppins:300,400,700">
<link rel="stylesheet" href="/web/backstage/css/cinemabackstage.css" id="theme-stylesheet">
<link rel="stylesheet" href="/web/backstage/css/custom.css">
<link rel="shortcut icon" href="/web/backstage/img/favicon.ico">



    <style type="text/css">
.front{width: 30%;margin: 0 auto;background-color: #f0f0f0;	color: #666;text-align: center;padding: 0 5px;border-radius: 5px;}
.booking_area {float: right;position: relative;width:200px;height: 450px; }
.booking_area h3 {margin: 5px 5px 0 0;font-size: 16px;}
.booking_area p{line-height:26px; font-size:16px; color:#999}
.booking_area p span{color:#666}
div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}
div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
div.seatCharts-row {height: 35px;}
div.seatCharts-seat.available {background-color: #B9DEA0;}
div.seatCharts-seat.focused {background-color: #76B474;border: none;}
div.seatCharts-seat.selected {background-color: #E6CAC4;}
div.seatCharts-seat.unavailable {background-color: #472B34;cursor: not-allowed;}
/*整体座位样式*/
div.seatCharts-container {border-right: 1px dotted #adadad;/*width: 400px;*/padding: 20px;float: left;}
div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 16px;}
ul.seatCharts-legendList {padding-left: 0px;}
.seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}
span.seatCharts-legendDescription {margin-left: 5px;line-height: 30px;}
.checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer}
#seats_chose {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;}
#seats_chose li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
</style>

<script type="text/javascript" src="/web/backstage/js/jquery.min.js"></script>
<script type="text/javascript" src="/web/backstage/js/jquery.seat-charts.min.js"></script>
<!-- JavaScript files-->
<script src="/web/backstage/vendor/popper.js/umd/popper.min.js"></script>
<script src="/web/backstage/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/web/backstage/vendor/jquery.cookie/jquery.cookie.js"></script>
<script src="/web/backstage/vendor/chart.js/Chart.min.js"></script>
<script src="/web/backstage/vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- Main File-->
<script src="/web/backstage/js/front.js"></script>
<script src="/web/backstage/js/vue.js"></script>


</head>
<body>
<div class="page">
    <div class="content-inner">
        <!-- Page Header-->
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">影厅管理</h2>
            </div>
        </header>

        <section class="tables">
            <div class="container-fluid">
                <div class="row" id="cinemaArea">
                    <div class="col-lg-4" style="margin-top: 20px">
                        <select  class="form-control"  v-model="cid" @change="selectCinema()">
                            <option value="0" selected="selected" disabled="disabled">请选择放映点</option>
                            <option :value="cinema.id" v-for="cinema in cinemaList" v-text="cinema.cname">万达影城（江北店）</option>
                        </select>

                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 v-if="JSON.stringify(nowCinema) == '{}'">未选择影院</h5>
                                <h5 v-else v-text="nowCinema.cname"></h5>
                                <h3 class="h4">————影院详情</h3>
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <img  :src="nowCinema.facility" width="350" style="margin: 0 auto"/>
                            </div>
                        </div>


                    </div>
                    <div class="col-lg-8 " style="margin-top: 20px">
                        <div class="card">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button id="closeCard1" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" class="dropdown-toggle">O
                                    </button>
                                    <div aria-labelledby="closeCard1" class="dropdown-menu dropdown-menu-right has-shadow">
                                        <a  href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>关闭窗口</a>
                                        <a id="showAddModel" class="dropdown-item edit" data-toggle="modal" data-target="#roomModal"><i class="fa fa-gear"></i>新增影厅</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4" style="margin: 0 auto" v-text="nowCinema.cname">万达影城（江北店）</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped text-center">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>影厅名</th>
                                            <th>影厅类型</th>
                                            <th>影厅座位总数</th>
                                            <th>影厅座位设置</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(cinemaRoom,index) in cinemaRoomList">
                                            <th scope="row" v-text="1+index+(page.pageIndex-1)*6">1</th>
                                            <td v-text="cinemaRoom.name">Mark</td>
                                            <td v-text="cinemaRoom.type">IMAX</td>
                                            <td>102</td>
                                            <td @click="editroom(index)">编辑</td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="5">
                                                当前第<span style="color: #f03d37"><strong v-text="page.pageIndex"></strong></span>页
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                总共<span style="color: #f03d37"><strong v-text="page.pageCount"></strong></span>页
                                                <a href="javascript:;" style="float: right;position: relative" @click="nextPage()">下一页</a>
                                                <span style="float: right;position: relative">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <a href="javascript:;" style="float: right;position: relative" @click="prePage()">上一页</a>
                                            </td>
                                        </tr>
                                        </tfoot>

                                    </table>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <!--                            新增影厅的模态框-->
                <div id="roomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog" style="max-width: 70% !important;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">新增影厅 </h4>
                                <button id="closeModel" type="button" data-dismiss="modal" aria-label="Close"
                                        class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>影厅名</label>
                                        <input id="roomname" name="roomname" type="text" placeholder="影厅名" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>影厅类型</label>
                                        <input id="roomtype" name="roomtype" type="text" placeholder="影厅类型" class="form-control">
                                    </div>
                                </form>
                                <div class="demo clearfix" >
                                    <span id="add-error" class="error" style="color: red;"></span>
                                    <div class="front-indicator">座位选择</div>
                                    <!---左边座位列表----->
                                    <div id="changexy">
                                        <input type="text" style="width:30px;" id="x" value="10"> ×
                                        <input type="text" style="width:30px;" id="y" value="30">
                                    </div>
                                    <div id="seat_area">
<!--                                        <div class="front">屏幕</div>-->

                                    </div>
                                    <!--座位布局的div-->
                                    <!--<div id="seat-maps"></div>-->
                                    <div class="booking-details" id="insert">
                                        <div class="modal-footer">
                                            <input type="button" data-dismiss="modal" id="closeInsert" class="btn btn-secondary" value="关闭"/>
                                            <input id="kbtn" @click="save()" type="button" class="btn btn-primary" value="保存"/>
                                        </div>
                                        <p><input id="crea" hidden="hidden" @click="create()" /></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--        修改影院-->
        <section id="editbox" style="display: none">
            <div class="container-fluid">
                <div class="row">
                    <div class="modal-body">
                        <input id="thisid" type="hidden" name="id" value=""/>
                        <div class="form-group">
                            <label>影厅名</label>
                            <input id="thisroomname" name="roomname" type="text" placeholder="影厅名" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>影厅类型</label>
                            <input id="thisroomtype" name="roomtype" type="text" placeholder="影厅类型" class="form-control">
                        </div>
                        <div class="demo clearfix" >
                            <span id="thisadd-error" class="error" style="color: red;"></span>
                            <div class="front-indicator">座位选择</div>
                            <!---左边座位列表----->
                            <div id="changethisxy">
                                <input type="text" style="width:30px;" id="thisx" value="10"> ×
                                <input type="text" style="width:30px;" id="thisy" value="30">
                            </div>
                            <div id="thisseat_area">
                            </div>

                            <!--座位布局的div-->
                            <div id="thisseat-maps"></div>
                            <div class="booking-details" id="update">
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-secondary" @click="closeUpdate()" value="关闭"/>
                                    <input id="thiskbtn" @click="updateRoom()" type="button" class="btn btn-primary" value="保存修改"/>
                                </div>
                                <input id="thiscrea" type="hidden" @click="createSeats()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
    //页面加载事件
    //查询当前登录的用户

    //根据用户id查询当前用户管理的影院
        var cin=new Vue({
            el:"#cinemaArea",
            data:{
                //当前用户的所有影院
                cinemaList:[],
                //当前选择影院的id
                cid:"",
                //当前选择的影院信息
                nowCinema:{},
                cinemaRoomList:[],

                page:{},

                //当前编辑的影厅
                nowCinemaRoom:{},
                updateSeats:[]
            },
            created:function () {
                this.cid='0'
                //查询当前登录的用户

                //根据用户id查询 当前用户管理的影院
                //查询当前登录影院的所有放映点//aid
                var _this=this;
                $.ajax({
                    url:"/cinema-stage/cinema/all",
                    data:{
                        "aid":1
                    },
                    type:"get",
                    dataType:"json",
                    success:function (data) {
                        _this.cinemaList=data.list;
                        console.log(data)
                    }
                });
            },
            methods:{
                selectCinema:function () {
                    if(cin.cid == 0){
                        return;
                    }
                    for(var i=0;i<cin.cinemaList.length;i++){
                        if(cin.cinemaList[i].id==cin.cid){
                            cin.nowCinema=cin.cinemaList[i];
                            break;
                        }
                    }

                    //根据cid查询当前影院的所有影厅信息
                    $.ajax({
                        url:"/cinema-stage/room/bycid",
                        data:{
                            "cid":cin.cid,
                            "pageIndex":1,
                            "num":6

                        },
                        type:"get",
                        dataType:"json",
                        success:function (data) {
                            console.log(data)
                            cin.cinemaRoomList=data.list;
                            cin.page=data.object;
                        }
                    });


                },

                prePage:function () {
                    var _this=this;
                    if(this.page.pageIndex>1){
                        $.ajax({
                            url:"/cinema-stage/room/bycid",
                            data:{
                                "pageIndex":_this.page.pageIndex-1,
                                "cid":cin.cid,
                                "num":6
                            },
                            type:"get",
                            dataType:"json",
                            success:function (data) {
                                cin.cinemaRoomList=data.list;
                                cin.page=data.object;
                            }

                        })

                    }


                },
                nextPage:function () {
                    var _this=this;
                    if(this.page.pageIndex<this.page.pageCount){
                        $.ajax({
                            url:"/cinema-stage/room/bycid",
                            data:{
                                "pageIndex":_this.page.pageIndex+1,
                                "cid":cin.cid,
                                "num":6
                            },
                            type:"get",
                            dataType:"json",
                            success:function (data) {
                                cin.cinemaRoomList=data.list;
                                cin.page=data.object;
                            }

                        })
                    }
                },

                //编辑座位  重写方法
                editroom : function (index) {
                    //修改影厅信息回显
                    cin.nowCinemaRoom = cin.cinemaRoomList[index];
                    $("#thisid").val(cin.nowCinemaRoom.id);
                    $("#thisroomname").val(cin.nowCinemaRoom.name);
                    $("#thisroomtype").val(cin.nowCinemaRoom.type);
                    var coordinate=cin.nowCinemaRoom.coordinate;
                    var seat = coordinate.split(",")
                    for(var i=0;i<seat.length;i++){
                        seat[i]=seat[i].replace(/"/g,"").replace("[","").replace("]","");
                    }

                    $("#thisx").val(seat.length)
                    $("#thisy").val(seat[0].length)



                    $("#update-maps").remove()
                    $("#thisseat_area").append("<div id='update-maps'></div>")

                    //座位回显
                    $('#update-maps').seatCharts({
                        map: seat,
                        naming: {
                            top: false, //不显示顶部横坐标（行）
                            left: true,
                            getLabel: function (character, row, column) { //返回座位信息
                                return column;
                            }
                        },
                        click: function () {
                            if (this.status() == 'available') { //若为可选座状态，添加座位
                                seat[this.settings.row] = seat[this.settings.row].substring(0, this.settings.column) + "_" + seat[this.settings.row].substring(this.settings.column + 1);
                                cin.updateSeats=seat;
                                console.log(cin.updateSeats)
                                return 'none';
                            } else {
                                seat[this.settings.row] = seat[this.settings.row].substring(0, this.settings.column) + "e" + seat[this.settings.row].substring(this.settings.column + 1);
                                cin.updateSeats=seat;
                                console.log(cin.updateSeats)
                                return "available";
                            }
                        }
                    })
                    //把当前的座位信息赋值给vue的updateSeats属性
                    $("#editbox").css("display","block");
                }

            },


        })


        /**
         * 新增放映厅的vue
         */
        new Vue({
            el:"#insert",
            data:{
                map:[]
            },
            created:function(){
                this.map=registSeat();
            },
            methods:{
                //新增影厅并设置座位
                save:function(){
                    var _this=this;
                    var coordinate = JSON.stringify(this.map);
                    if(cin.cid>0){
                        $.ajax({
                            url:"/cinema-stage/room",
                            type:"post",
                            data:{
                                "coordinate":coordinate,
                                "cid":cin.cid,
                                "name":$("#roomname").val(),
                                "type":$("#roomtype").val()
                            },
                            success:function(data){
                                _this.map=[];
                                $("#closeModel").click()
                                //根据cid查询当前影院的所有影厅信息
                                $.ajax({
                                    url:"/cinema-stage/room/bycid",
                                    data:{
                                        "cid":cin.cid
                                    },
                                    type:"get",
                                    dataType:"json",
                                    success:function (data) {
                                        console.log(data)
                                        cin.cinemaRoomList=data.list;
                                    }
                                });
                                alert("添加影厅成功")
                            }

                        })
                    }


                },
                create:function(){
                    this.map=registSeat();
                }

            }
        })


        /**
         * 更新放映厅的vue
         */
        new Vue({
            el:"#update",
            data:{
                map:[]
            },
            created:function(){
                this.map=cin.updateSeats
            },
            methods:{
                updateRoom:function () {
                    var _this=this;
                    $.ajax({
                        url:"/cinema-stage/room",
                        type:"put",
                        data:{
                            "id":$("#thisid").val(),
                            "coordinate":JSON.stringify(_this.map),
                            "cid":cin.cid,
                            "name":$("#thisroomname").val(),
                            "type":$("#thisroomtype").val()
                        },
                        dataType:"json",
                        success:function (data) {

                            _this.map=[];
                            //关闭修改框
                            $("#editbox").css("display","none");
                            //根据cid查询当前影院的所有影厅信息
                            $.ajax({
                                url:"/cinema-stage/room/bycid",
                                data:{
                                    "cid":cin.cid
                                },
                                type:"get",
                                dataType:"json",
                                success:function (data) {
                                    console.log(data)
                                    cin.cinemaRoomList=data.list;
                                }
                            });
                            alert("跟新成功")
                        }
                    })
                },
                createSeats:function () {
                    this.map=thisregist()
                },
                closeUpdate:function () {
                    $("#editbox").css("display","none");
                }

            }

        })



});

function registSeat(){
	$("#seat-maps").remove()
	$("#seat_area").append("<div id='seat-maps'></div>")

    var x = parseInt($("#x").val());
    var y = parseInt($("#y").val());
    var seat = [];
    for(var i=0;i<x;i++){
        seat[i]="";
        for(var j=0;j<y;j++){
            seat[i]+="e";
        }
    }

    var sc = $('#seat-maps').seatCharts({
        map: seat,
        naming: {
            top: false, //不显示顶部横坐标（行） 
            left:true,
            getLabel: function(character, row, column) { //返回座位信息 
//                          return firstSeatLabel++;
                return column;
            }
        },
        click: function() {
             if (this.status() == 'available') { //若为可选座状态，添加座位
                seat[this.settings.row]=seat[this.settings.row].substring(0,this.settings.column)+"_"+seat[this.settings.row].substring(this.settings.column+1);
                return 'none';
             }else {
                seat[this.settings.row]=seat[this.settings.row].substring(0,this.settings.column)+"e"+seat[this.settings.row].substring(this.settings.column+1);
                return "available";
            }
             
        }
      
    });
	return seat;
}

$("#changexy").change(function () {
    if($("#y").val()>30 || $("#y").val()<=0){
        $("#add-error").text("请输入合法数值，每排座位不得小于1或大于30")
    }else{
        $("#add-error").text("");
        $("#crea").click();
    }
})



function thisregist() {
    $("#update-maps").remove();
    $("#thisseat_area").append("<div id='update-maps'></div>");
    var x = parseInt($("#thisx").val());
    var y = parseInt($("#thisy").val());
    var seat = [];
    for (var i = 0; i < x; i++) {
        seat[i] = "";
        for (var j = 0; j < y; j++) {
            seat[i] += "e";
        }
    }
    var sc = $('#update-maps').seatCharts({
        map: seat,
        naming: {
            top: false, //不显示顶部横坐标（行）
            left: true,
            getLabel: function (character, row, column) { //返回座位信息
                return column;
            }
        },
        click: function () {
            if (this.status() == 'available') { //若为可选座状态，添加座位
                seat[this.settings.row] = seat[this.settings.row].substring(0, this.settings.column) + "_" + seat[this.settings.row].substring(this.settings.column + 1);
                return 'none';
            } else {
                seat[this.settings.row] = seat[this.settings.row].substring(0, this.settings.column) + "e" + seat[this.settings.row].substring(this.settings.column + 1);
                return "available";
            }

        }

    });

    return seat;
}
$("#changethisxy").change(function () {
    if($("#thisy").val()>30 || $("#thisy").val()<=0){
        $("#thisadd-error").text("请输入合法数值，每排座位不得小于1或大于30")
    }else{
        $("#thisadd-error").text("");
        $("#thiscrea").click();
    }

})




</script>

</body>
</html>


