<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="/web/assets/img/favcion.png" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="/web/assets/css/responsive.css" media="all" />
		<!--自定义样式-->
		<link rel="stylesheet" type="text/css" href="/web/css/movieinfostyle.css">
		<link type="text/css" rel="stylesheet" href="/web/tao/css/citystyle.css"/>
		<link type="text/css" rel="stylesheet" href="/web/css/mtypestyle.css"/>

		<link href="/web/tao/css/star-rating.css" media="all" rel="stylesheet" type="text/css"/>

		<!--[if lt IE 9]>

		  <script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!--地图api-->
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=6ee71f2fd5eece7797fafe8b9f7a090a&plugin=AMap.Autocomplete,AMap.PlaceSearch,AMap.Geocoder"></script>
	</head>
	<body>
		<!-- Page loader -->
	    <div id="preloader"></div>
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="logo">
						<a href="index.html"><img src="/web/assets/img/logo.png" alt="logo" /></a>
					</div>

					<div class="header-right">
						<div class="currcity">
							<ul id="list1" style="width:620px;margin:40px auto 0 auto;">
								<li id="summary-stock">
									<div class="dt"> 我的城市&nbsp&nbsp:&nbsp&nbsp&nbsp</div>
									<div class="dd">
										<div id="store-selector">
											<div class="text">
												<div id="currcity"></div>
												<b></b></div>
											<div onclick="$('#store-selector').removeClass('hover')" class="close"></div>
										</div><!--store-selector end-->
										<div id="store-prompt"><strong></strong></div><!--store-prompt end---></div>
								</li>
							</ul>
						</div>
						<div id="app1" style="font-size: 14px;color: #292929;font-family: '微软雅黑';display: none;">
							<div class="mycity" @click="selectLocation()">
								我的城市：&nbsp;&nbsp;<span id="qyxs" style="color:#FF0000">{{location}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="update" @click="replayspan()">更改</span>
							</div>
							<div v-show="isShowCitys" class="city" id="city-div">
								<div style="text-align: center;position: fixed;top: 0;height: 32px;width:100%;line-height: 32px;z-index: 300;background-color: #FFF;box-shadow: 0 0 2px rgba(0,0,0,.2)
              ">
									我的城市：&nbsp;&nbsp;<span id="qyxs1" style="color:#FF0000">{{location}}</span>
								</div>
								<div class="city-wrapper city-wrapper-hook">
									<div class="scroller-hook">
										<div class="cities cities-hook">
											<div v-for="i in cityData">
												<div class="title">{{i.name}}</div>
												<ul>
													<li @dblclick="replay(item.name
                            )" v-for="item in i.cities" class="item city-click" :data-name="item.name" :data-id="item.code"><span class="border-1px name" @touchend="touchUp(item)"  @touchstart="chooseCity()">{{item.name}}</span>
													</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="shortcut shortcut-hook" style="right: 50px;top:100px !important;" @touchstart="touchIndex">
										<!--<ul style="width: 100px;text-align: left;padding: 20px 0">
                                            <li v-for="i in cityData" :data-anchor="i.name" class="item">{{i.name.substr(0, 1)}}</li>
                                        </ul>-->
									</div>
								</div>
							</div>
							<div class="toast" v-show="toastShow">
								{{toastText}}
							</div>
						</div>
						<form action="#">
							<select>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
							</select>
							<input type="text"/>
							<button><i class="icofont icofont-search"></i></button>
						</form>
						<ul>
							<li><a href="#">Welcome Guest!</a></li>
							<li><a v-if="user.username==null" v-text="Login" class="login-popup" href="#"></a></li>
							<li><img v-if="user.upic!=null" :src="user.upic" /></li>
						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="active" href="index.html">Home</a></li>
                                <li><a href="movies.html">Movies</a></li>
                                <li><a href="celebrities.html">CelebritiesList</a></li>
                                <li><a href="top-movies.html">Top Movies</a></li>
                                <li><a href="blog.html">News</a></li>
								<li><a class="active" href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a href="blog-details.html">Blog Details</a></li>
										<li><a class="active" href="movie-details.html">Movie Details</a></li>
									</ul>
								</li>
                                <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		<div class="login-area">
			<div class="login-box">
				<a href="#"><i class="icofont icofont-close"></i></a>
				<h2>LOGIN</h2>
				<form action="#">
					<h6>USERNAME OR EMAIL ADDRESS</h6>
					<input type="text" />
					<h6>PASSWORD</h6>
					<input type="text" />
					<div class="login-remember">
						<input type="checkbox" />
						<span>Remember Me</span>
					</div>
					<div class="login-signup">
						<span>SIGNUP</span>
					</div>
					<a href="#" class="theme-btn">LOG IN</a>
					<span>Or Via Social</span>
					<div class="login-social">
						<a href="#"><i class="icofont icofont-social-facebook"></i></a>
						<a href="#"><i class="icofont icofont-social-twitter"></i></a>
						<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
						<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
						<a href="#"><i class="icofont icofont-camera"></i></a>
					</div>
				</form>

			</div>
		</div>
		<div class="buy-ticket">
			<div class="container">
				<div class="buy-ticket-area">
					<a href="#"><i class="icofont icofont-close"></i></a>
					<div class="row">
						<div class="col-lg-8">
							<div class="buy-ticket-box">
								<h4>Buy Tickets</h4>
								<h5>Seat</h5>
								<h6>Screen</h6>
								<div class="ticket-box-table">
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
											<td class="active">1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
									<table>
										<tr>
											<td>1</td>
										</tr>
										<tr>
											<td>2</td>
										</tr>
										<tr>
											<td>3</td>
										</tr>
										<tr>
											<td>4</td>
										</tr>
										<tr>
											<td>5</td>
										</tr>
									</table>
									<table class="ticket-table-seat">
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
										<tr>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
											<td>1</td>
										</tr>
									</table>
								</div>
								<div class="ticket-box-available">
									<input type="checkbox" />
									<span>Available</span>
									<input type="checkbox" checked />
									<span>Unavailable</span>
									<input type="checkbox" />
									<span>Selected</span>
								</div>
								<a href="#" class="theme-btn">previous</a>
								<a href="#" class="theme-btn">Next</a>
							</div>
						</div>
						<div class="col-lg-3 offset-lg-1">
							<div class="buy-ticket-box mtr-30">
								<h4>Your Information</h4>
								<ul>
									<li>
										<p>Location</p>
										<span>HB Cinema Box Corner</span>
									</li>
									<li>
										<p>TIME</p>
										<span>2018.07.09   20:40</span>
									</li>
									<li>
										<p>Movie name</p>
										<span>Home Alone</span>
									</li>
									<li>
										<p>Ticket number</p>
										<span>2 Adults, 2 Children, 2 Seniors</span>
									</li>
									<li>
										<p>Price</p>
										<span>89$</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- header section end -->
		<!-- breadcrumb area start -->
		<div id="app">
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Movie Detalied Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- transformers area start -->
		<section class="transformers-area">
			<div class="container">
				<div class="transformers-box">
					<div class="row flexbox-center">
						<div class="col-lg-5 text-lg-left text-center">
							<div class="transformers-content">
								<img :src="movie.mpic" alt="about" />
							</div>
						</div>
						<div class="col-lg-7">
							<div class="transformers-content">
								<h2 v-text="movie.mname">The Transformers</h2>
								<span v-for="type in movie.types">
									<span v-text="type.mtype"></span> |
								</span>
								<ul>
									<li>
										<div class="transformers-left">
											Writer:
										</div>
										<div class="transformers-right">
											<span v-text="moviePerson.screenwriter">Stephen McFeely, Christopher Markus</span>
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Director:
										</div>
										<div class="transformers-right">
											<span v-text="moviePerson.director">Joe Johnston</span>
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Time:
										</div>
										<div class="transformers-right">
											<span v-text="movie.longtime">190</span>min
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Release:
										</div>
										<div class="transformers-right">
											<span v-text="uptimes">2018-07-22</span>
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Language:
										</div>
										<div class="transformers-right">
											English, Russian
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Cinema:
										</div>
										<div class="transformers-right">
											HB Movies  |  HW Town <a href="#" class="theme-btn">Movies House</a>Grand Seats  |  HB Max
											<div class="transformers-bottom">
												<p>May 19, 2018 <span>15h47</span></p>
												<p>May 19, 2018 <span>15h47</span></p>
												<p>May 19, 2018 <span>15h47</span></p>
											</div>

										</div>
									</li>
									<li>
										<div class="transformers-left">
											Share:
										</div>
										<div class="transformers-right">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
											<a href="#"><i class="icofont icofont-youtube-play"></i></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<a href="#" class="theme-btn"><i class="icofont icofont-ticket"></i> BUY TICKET</a>
				</div>
			</div>
		</section><!-- transformers area end -->

		<!-- details area start -->
		<section class="details-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="details-content">
							<div class="details-overview">
								<h2>Overview</h2>
								<span v-text="movie.shortStory"></span>
							</div>
							<span class="info-mtop2 info-display2"><h2>用户评论</h2></span>
							<!--评论信息展示-->
							<div>
								<!--评论用户信息-->
								<div v-for="comment in comments" class="info-mtop">
									<!--用户头像-->
									<img class="userimg" :src="comment.user.upic">
									<!--用户名称-->
									<span v-text="comment.user.username"></span>
									<!--用户评分-->
									<!--<span :id="'sc'+comment.id" class="info-mleft " v-text="comment.userScore"></span>-->
									<span v-for="i in comment.userScore">
										<img  class="commentimg" src="/web/tao/images/stars2.jpg">
									</span>
									<!--用户评论-->
									<div class="info-mleft" v-text="comment.argue"></div>
									<!--评论时间-->
									<span class="info-mleft" v-text="comment.time"></span>
									<!--点赞图标-->
									<span class="info-mleft" :id="'commentid'+comment.id" @click="addpraise($event,comment.id)"><img class="praiseimg" src="/web/images/zan1.jpg"></span>
									<!--点赞数量-->
									<span style="margin-left: 3px" v-text="comment.likeNum==0?' ':comment.likeNum"></span>
								</div>
							</div>
							<!--分页-->

							<div class="details-reply">
								<span style="cursor: pointer" onclick="show()"><h2>写评论</h2></span>

								<!--<h2>评分</h2>-->
								<form action="#" class="info-display show">
									<div class="row">
										<div class="col-lg-12">
											<div class="textarea-container">
												<textarea id="argue" placeholder="Type Here Message"></textarea>
												<button><i class="icofont icofont-send-mail"></i></button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="details-comment show info-display">
								<span  @click="insertComment()" class="theme-btn theme-btn2" href="#">Post Comment</span>
								<p>You may use these HTML tags and attributes: You may use these HTML tags and attributes: You may use these HTML tags and attributes: </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 text-center text-lg-left">
					    <div class="portfolio-sidebar">
							<img src="/web/assets/img/sidebar/sidebar1.png" alt="sidebar" />
							<img src="/web/assets/img/sidebar/sidebar2.png" alt="sidebar" />
							<img src="/web/assets/img/sidebar/sidebar4.png" alt="sidebar" />
						</div>
					</div>
				</div>
			</div>
		</section><!-- details area end -->
		</div>
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<img src="/web/assets/img/logo.png" alt="about" />
							<p>7th Harley Place, London W1G 8LZ United Kingdom</p>
							<h6><span>Call us: </span>(+880) 111 222 3456</h6>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Legal</h4>
							<ul>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Security</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Account</h4>
							<ul>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Watchlist</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">User Guide</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Newsletter</h4>
							<p>Subscribe to our newsletter system now to get latest news from us.</p>
							<form action="#">
								<input type="text" placeholder="Enter your email.."/>
								<button>SUBSCRIBE NOW</button>
							</form>
						</div>
                    </div>
				</div>
				<hr />
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-left">
							<div class="copyright-content">
								<p>&copy; 2018 MoviePoint. All Rights <a href="http://www.17sucai.com/">Reserved</a>. Designed by themerocket</p>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div class="copyright-content">
								<a href="#" class="scrollToTop">
									Back to top<i class="icofont icofont-arrow-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<!-- jquery main JS -->
		<script src="/web/assets/js/jquery.min.js"></script>
		<!--评分-->
		<!-- Bootstrap JS -->
		<script src="/web/assets/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="/web/assets/js/jquery.slicknav.min.js"></script>
		<!-- owl carousel JS -->
		<script src="/web/assets/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="/web/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Isotope JS -->
		<script src="/web/assets/js/isotope.pkgd.min.js"></script>
		<!-- main JS -->
		<script src="/web/assets/js/main.js"></script>
		<script src="/web/js/vue.js"></script>
		<script src="/web/tao/js/jquery-1.9.1.min.js"></script>
		<script src="/web/tao/js/location.js"></script>
		<script src="/web/tao/js/city.js"></script>
		<!--定位-->
		<script>
			window.onload=function () {
			    /*获取定位的值*/
				var city=$("#qyxs").text();
				$("#currcity").text(city);
			}
            var app = new Vue({
                el: '#app1',
                data: {
                    origin: 'http://192.168.99.205:800',
                    captchaBoxShow: false,
                    test: '测试',
                    countTime: 0,
                    countTimer: null,
                    time: 60,
                    location: '定位中',
                    submit: {
                        sms_captcha  : '',
                        captcha      : '',
                        area_code    : '',
                        _token       : '',
                    },
                    map: new AMap.Map("container", {
                        resizeEnable: true,
                        //city: citycode,
                        zoom: 17, //地图显示的缩放级别
                        keyboardEnable: false,
                        citylimit: true,
                        resizeEnable: true
                    }),
                    cityWrapper: document.querySelector('.city-wrapper-hook'),
                    cityScroller: document.querySelector('.scroller-hook'),
                    cities: document.querySelector('.cities-hook'),
                    shortcut: document.querySelector('.shortcut-hook'),
                    shortcutList: [],
                    cityData: cityData,// 数据源
                    scroll: null,
                    anchorMap: {},
                    touch: {},
                    toastShow: false,
                    isShowCitys: false,
                    toastText: '',
                },
                methods: {
                    replay:function(cityName){
                        $("#qyxs").text(cityName);
                        $("#city-div").hide();
                    },
                    replayspan:function(){
                        var name=$("#qyxs").text();
                        $("#qyxs1").text(name);
                        $("#city-div").show();
                    },
                    toast (str) {
                        let v = this
                        v.toastText = str
                        v.toastShow = true
                        setTimeout(function(){
                            v.toastShow = false
                        }, 1500)
                    },
                    chooseCity (city) {
                        let v = this
                        v.countTime = 0
                        v.countTimer = setInterval(function(e){v.countTime ++},1)
                    },
                    touchUp (item) {
                        let v = this
                        clearInterval(v.countTimer)
                        if (v.countTime < 30) {
                            this.isShowCitys = false
                            this.location = item.name
                            this.submit.area_code = item.code
                        }
                    },
                    selectLocation () {
                        let v = this
                        this.isShowCitys = true
                        this.$nextTick(function() {
                            this.initCities()
                        })
                    },
                    geocoder_CallBack: function (data) {
                        let v = this
                        var adcode3     = data.regeocode.addressComponent.adcode;
                        var address     = data.regeocode.formattedAddress; //返回地址描述
                        var csqy        = data.regeocode.addressComponent.district; //地区
                        var csadcode    = data.regeocode.addressComponent.adcode; //区域编码
                        this.submit.area_code = csadcode
                        var citycode2   = csadcode.substr(0, 4) + "00"; //省份编码
                        var codes       = adcode3.substr(0, 4) + "00";
                        var citys2      = data.regeocode.addressComponent.city;
                        var poiArr      = data.regeocode.pois; //坐标
                        var resultCount = poiArr.length;
                        v.location      = csqy
                        var dz          = data.regeocode.formattedAddress;
                        var lng         = data.regeocode.roads[0].location.lng;
                        var lat         = data.regeocode.roads[0].location.lat;
                    },
                    zddw: function () {
                        //初始定位
                        let v = this;
                        v.map.plugin('AMap.Geolocation', function() {
                            geolocation = new AMap.Geolocation({
                                enableHighAccuracy: true, //是否使用高精度定位，默认:true
                                //timeout: 10000, //超过10秒后停止定位，默认：无穷大
                                buttonOffset: new AMap.Pixel(10, 20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                                zoomToAccuracy: true, //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                                noIpLocate: 0, //IP定位，0-3，0都可以使用
                                noGeoLocation: 0, //浏览器定位 0-3,
                                showCircle: false, //去除定位蓝圈
                                buttonPosition: 'RT',
                                extensions: 'all'
                            });
                            v.map.addControl(geolocation);
                            geolocation.getCurrentPosition();
                            AMap.event.addListener(geolocation, 'complete', onComplete); //返回定位信息
                            AMap.event.addListener(geolocation, 'error', onError); //返回定位出错信息

                        });
                        //解析定位结果
                        function onComplete(data) {
                            var str = [];
                            str.push(data.position.lng);
                            str.push(data.position.lat);
                            var geocoder = new AMap.Geocoder({
                                radius: 1000,
                                extensions: "all"
                            });
                            geocoder.getAddress(str, function(status, result) {
                                if (status === 'complete' && result.info === 'OK') {
                                    v.geocoder_CallBack(result);
                                }
                            });
                        }
                        // 解析定位错误信息
                        function onError(data) {
                            alert('定位失败,请手动选择所在区域');
                        }
                    },
                    initCities: function () {
                        let v = this;
                        let y = 0;
                        var titleHeight = 28
                        var itemHeight = 44
                        v.cityData.forEach(function(e){
                            let name = e.name.substr(0, 1)
                            let len = e.cities.length
                            v.anchorMap[name] = y
                            y -= titleHeight + len * itemHeight
                        })
                        v.shortcut = document.querySelector('.shortcut-hook')
                        v.cityWrapper = document.querySelector('.city-wrapper-hook')
                        v.shortcut.style.top = (v.cityWrapper.clientHeight - v.shortcut.clientHeight) / 2 + 'px';
                        v.scroll = new window.BScroll(v.cityWrapper, {
                            probeType: 3
                        })
                        // console.log(v.scroll, 'v.scroll')
                        // v.scroll.hasVerticalScroll = true
                        // v.scroll.wrapperHeight = $('body').height()
                        v.scroll.scrollTo(0, 0);
                    },
                    touchIndex: function (e) {
                        // console.log(e, 'e')
                        let v = this
                        let anchor = e.target.getAttribute('data-anchor')
                        // console.log(anchor ,'anchor')
                        let firstTouch = e.touches[0]
                        v.touch.y1 = firstTouch.pageY
                        v.touch.anchor = anchor
                        v.scrollTo(anchor)
                    },
                    scrollTo: function (anchor) {
                        let v = this
                        v.cityScroller = document.querySelector('.scroller-hook')
                        var maxScrollY = v.cityWrapper.clientHeight - v.cityScroller.clientHeight
                        var y = Math.min(0, Math.max(maxScrollY, v.anchorMap[anchor]))
                        if (typeof y !== 'undefined') {
                            v.scroll.scrollTo(0, y);
                        }
                    },
                },
                mounted: function () {
                    let v = this
                    this.zddw()
                    v.initCities()
                },
            })
		</script>
		<script>
			$(function () {
                // alert("文档就绪事件");
            });

			var _data;
			var app=new Vue({
				el:"#app",
				data:{
				    movie:{},
                    moviePerson:{},
					user:{},
					comments:[],
					likes:[],
					mid:1,
					cid:1,
					uptimes:"uptime",
					page:{}
				},
				created:function () {
					_data=this;
					/*获取电影id*/
					// alert(window.location);
					var mid=_data.mid;
					/*根据id查询电影详情*/
					$.ajax({
						url:"/movie-stage/movie/bymid/"+mid,
						type:"get",
						dataType:"json",
						success:function (data) {
							if(data.code=="success"){
							    _data.movie=data.object.movie;
							    _data.moviePerson=data.object.moviePerson;
							    _data.uptimes=getTime(_data.movie.uptime);
							}else{
							    alert(data.message);
							}
                        }
					});
					/*查询用户信息；*/
					$.ajax({
						url:"/api-user/user",
						type:"get",
						dataType:"json",
						success:function (data) {
							if(data.code=="success"){
								_data.user=data.object;
							}else{
							    alert(data.message);
							}
                        }
					});
					/*查询评论集合*/
                    $.ajax({
                        url:"/api-comment/comment",
                        type:"get",
                        dataType:"json",
                        success:function (data) {
                            if(data.code=="success"){
                                _data.comments=data.list;
                                _data.page=data.object;
                            }else{
                                alert(data.message);
                            }
                        }
                    });

                },
				beforeUpdate:function(){
                    /*查询该用户所有点赞信息*/
                    $.ajax({
                        url:"/api-comment/like",
                        type:"get",
                        dataType:"json",
                        success:function (data) {
                            if(data.code=="success"){
                                _data.likes=data.list;
                                for (var i=0;i<_data.likes.length;i++) {
                                    $("#commentid"+_data.likes[i].commentId).children().eq(0).attr("src","/web/images/zan2.jpg");
                                }
                            }else{
                                alert(data.message);
                            }
                        }
                    });
				},
				methods:{
				    insertComment:function () {
				        var userScore=5;
				        var argue=$("#argue").val();
						$.ajax({
							url:"/api-comment/comment",
							type:"post",
							data:{"cid":_data.cid,"mid":_data.mid,"argue":argue,"userScore":userScore},
							dataType:"json",
							success:function (data) {
								if(data.code=="success"){
								    alert("success");
								    location.href="javascript:";
								}else{
								    alert(data.message);
								}
                            }
						});
                    },
                    addpraise:function (e,cid) {
                        var num=$(e.target).parent().next().text();
                        if($(e.target).attr("src")=="/web/images/zan2.jpg"){
                            if(num>0){
                                $(e.target).parent().next().text(num-1);
                                if ($(e.target).parent().next().text()==0){
                                    $(e.target).parent().next().text(" ");
								}
							}
                            $(e.target).attr("src","/web/images/zan1.jpg");
                            /*取消赞*/
							$.ajax({
								url:"/api-comment/like/delete/"+cid,
								type:"delete",
								dataType:"json",
								success:function (data) {
									if(data.code=="success"){
									    // alert("success!");
									}else{
									    alert(data.message);
									}
                                }
							});
                        }else{
                            if(app.user.username!=null){
                                $(e.target).attr("src","/web/images/zan2.jpg");
                                $(e.target).parent().next().text(num-(-1));
							}
                            /*添加赞*/
                            $.ajax({
                                url:"/api-comment/like/"+cid,
                                type:"post",
                                dataType:"json",
                                success:function (data) {
                                    if(data.code=="success"){
                                        // alert("success");
                                    }else{
                                        alert(data.message);
                                    }
                                }
                            });
                        }
                    }
				}
			});
			/*评论文本域显示隐藏*/
			function show() {
				if($(".show").css("display")=="none"){
                    $(".show").css("display","block");
				}else{
                    $(".show").css("display","none");
				}
            }
            /**
             * 格式化时间
             * @param second
             * @param getDateType
             * @returns {string|number}
             */
            function getTime(second) {
                var date =new Date(second);
                var year = date.getFullYear()
                if((date.getMonth()+1)<=9){
                    var month ="0"+(date.getMonth()+1);
                }else {
                    return date.getMonth()+1;
                    var month =date.getMonth()+1;
                }
                if(date.getDate()<=9){
                    var day =  "0"+date.getDate();
                }else {
                    var day =   date.getDate();
                }
                if(date.getHours()<=9){
                    var hour =  "0"+date.getHours();
                }else {
                    var hour =  date.getHours();
                }
                if(date.getMinutes()<=9){
                    var minutes =  "0"+date.getMinutes();
                }else {
                    var minutes =  date.getMinutes();
                }
                if(date.getSeconds ()<=9){
                    var seconds = "0" + date.getSeconds ();
                }else{
                    var seconds =  date.getSeconds ();
                }
                return year+"-"+month+"-"+day+" "+hour+":"+minutes+":"+seconds;
            }


		</script>
	</body>
</html>
