<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.orders.mapper.custom.OrderMapper">
    <resultMap id="BaseResultMap" type="com.woniu.orders.entity.Order">
        <!--@mbg.generated-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="money" jdbcType="DOUBLE" property="money"/>
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="aid" jdbcType="INTEGER" property="aid"/>
        <result column="ostate" jdbcType="TINYINT" property="ostate"/>
        <result column="pay_state" jdbcType="TINYINT" property="payState"/>
        <result column="payway" jdbcType="TINYINT" property="payway"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="order_id" property="orderId"/>
        <result column="old_order_id" property="oldOrderId"/>
        <result column="mpic" jdbcType="VARCHAR" property="posterUrl"/>
        <result column="mName" property="movieName"/>
        <result column="c_name" property="cinemaName"/>
        <result column="c_address" property="cinemaAddress"/>
        <result column="playtime" jdbcType="TIMESTAMP" property="palyTime"/>
        <result column="name" property="roomName"/>
        <result column="money" property="money"/>
        <result column="phone" property="phone"/>
        <result column="movie_showtime_id" jdbcType="INTEGER" property="msid"/>
        <result column="seat_id" jdbcType="VARCHAR" property="seatId"/>
        <result column="formatTime" jdbcType="VARCHAR" property="formatTime"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="c_timeStr" jdbcType="VARCHAR" property="cFormatTime"/>




    </resultMap>
    
    <resultMap id="detailMap" type="com.woniu.orders.entity.Order">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="INTEGER" property="uid"/>
        <result column="c_time" jdbcType="TIMESTAMP" property="cTime"/>
        <result column="money" jdbcType="DOUBLE" property="money"/>
        <result column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="aid1" jdbcType="INTEGER" property="aid"/>
        <result column="ostate" jdbcType="TINYINT" property="ostate"/>
        <result column="pay_state" jdbcType="TINYINT" property="payState"/>
        <result column="payway" jdbcType="TINYINT" property="payway"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="order_id" property="orderId"/>
        <result column="old_order_id" property="oldOrderId"/>
        <result column="mpic" jdbcType="VARCHAR" property="posterUrl"/>
        <result column="mName" property="movieName"/>
        <result column="c_name" property="cinemaName"/>
        <result column="c_address" property="cinemaAddress"/>
        <result column="playtime" jdbcType="TIMESTAMP" property="palyTime"/>
        <result column="name" property="roomName"/>
        <result column="money" property="money"/>
        <result column="phone" property="phone"/>
        <result column="movie_showtime_id" jdbcType="INTEGER" property="msid"/>
        <result column="seat_id" jdbcType="VARCHAR" property="seatId"/>
        <result column="formatTime" jdbcType="VARCHAR" property="formatTime"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="c_timeStr" jdbcType="VARCHAR" property="cFormatTime"/>
        <result column="seat" property="seat"/>
        <result column="longtime" jdbcType="VARCHAR" property="longtime"></result>
        <association property="vip" javaType="com.woniu.orders.entity.Vip">
            <id column="id" jdbcType="INTEGER" property="id" />
            <result column="vname" jdbcType="VARCHAR" property="vname" />
            <result column="vdiscount" jdbcType="DOUBLE" property="vdiscount" />
            <result column="aid" jdbcType="INTEGER" property="aid" />
            <result column="quota" jdbcType="DOUBLE" property="quota" />
        </association>


    </resultMap>

    <select id="selectOrderByUid" resultMap="BaseResultMap">
        SELECT o.c_time ,o.,o.code,o.order_id ,o.seat,o.money ,cr.name ,o.pay_state,
        m.mpic ,m.mName,c.ostatec_name,c.c_address,ms.playtime from `orders` o
        LEFT JOIN movie_showtime ms on o.movie_showtime_id = ms.id
        LEFT JOIN cinema c on ms.cid = c.id
        LEFT JOIN movie m on ms.mid = m.id
        LEFT JOIN cinema_room cr on ms.room_id = cr.id and cr.cid=ms.cid
        WHERE o.uid=#{uid} and isdel!=1 and o.ostate between 1 and 49 ORDER BY o.c_time desc
        LIMIT #{start}, #{num}
    </select>


    <select id="selectDetail" resultMap="detailMap" parameterType="string">
          SELECT v.*,o.uid,o.c_time,c.id as cid  ,o.code,o.seat_id,o.ostate,o.order_id ,o.old_order_id,o.seat,o.money ,cr.name ,
        m.mpic ,m.longtime,m.mName,c.aid aid1,c.c_name,c.c_address,c.phone,ms.playtime from `orders` o
        LEFT JOIN movie_showtime ms on o.movie_showtime_id = ms.id
        LEFT JOIN cinema c on ms.cid = c.id
        LEFT JOIN movie m on ms.mid = m.id
        LEFT JOIN cinema_room cr on ms.room_id = cr.id
				left join user_vip  uv on o.uid=uv.uid and c.aid=uv.aid
				LEFT JOIN vip v on uv.vid =v.id
        WHERE o.order_id=#{oid,jdbcType=VARCHAR} and cr.cid=ms.cid ;

    </select>

    <select id="selectOrder" resultType="com.woniu.orders.entity.Order" resultMap="BaseResultMap" parameterType="map">
        SELECT o.c_time ,o.ostate,o.code,o.order_id ,o.seat,o.money ,o.old_order_id,cr.name ,m.mpic
        ,m.mName,c.c_name,c.c_address,ms.playtime from `orders` o
        LEFT JOIN movie_showtime ms on o.movie_showtime_id = ms.id
        LEFT JOIN cinema c on ms.cid = c.id
        LEFT JOIN movie m on ms.mid = m.id
        LEFT JOIN cinema_room cr on ms.room_id = cr.id
        WHERE o.uid=#{uid} and cr.cid=ms.cid and isdel!=1 and o.ostate between 1 and 49 ORDER BY o.c_time desc LIMIT
        #{start}, #{num};

    </select>

    <resultMap id="countmap" type="com.woniu.orders.util.CountDetail">
        <result column="click_date" jdbcType="VARCHAR" property="date"/>
        <result column="count" jdbcType="VARCHAR" property="count"/>
    </resultMap>
    <select id="selectOrderSuccess" resultType="com.woniu.orders.util.CountDetail" resultMap="countmap">
               select date_format(a.click_date,'%m-%d') as click_date,ifnull(b.count,0)  as count
            from (

                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                    union all
                    SELECT curdate() as click_date


            ) a left join (
              select date(c_time) as datetime, count(*) as count ,ostate
              from orders where ostate BETWEEN 11 and 39
              group by date(c_time)
            ) b on a.click_date = b.datetime ORDER BY click_date asc

    </select>
    <select id="selectOrderRefund" resultType="com.woniu.orders.util.CountDetail" resultMap="countmap">
                  select date_format(a.click_date,'%m-%d') as click_date,ifnull(b.count,0)  as count
            from (

                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                    union all
                    SELECT curdate() as click_date


            ) a left join (
              select date(c_time) as datetime, count(*) as count ,ostate
              from orders where ostate =40
              group by date(c_time)
            ) b on a.click_date = b.datetime ORDER BY click_date asc

    </select>
    <update id="updateIsDel" parameterType="string">
        update orders set isdel =1 where order_id=#{oid,jdbcType=VARCHAR}
    </update>
    <select id="selectOneWeekOrderSuccess" resultMap="countmap" parameterType="int" >
       select date_format(a.click_date,'%m-%d') as click_date,ifnull(b.count,0)  as count
            from (
                SELECT date_sub(curdate(), interval 6 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 5 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                    union all
                    SELECT curdate() as click_date
            ) a left join (
              select date(c_time) as datetime, count(*) as count ,ostate
              from orders  INNER JOIN movie_showtime ms on orders.movie_showtime_id = ms .id INNER JOIN cinema c on ms.cid=c.id where ostate BETWEEN 11 and 39 and c.aid =#{aid,jdbcType=INTEGER}
              group by date(c_time)
            ) b on a.click_date = b.datetime ORDER BY click_date asc


    </select>
    <select id="selectOneWeekOrderTurnover" resultMap="countmap" parameterType="int">
     select date_format(a.click_date,'%m-%d') as click_date,ifnull(b.count,0)  as count
            from (
                SELECT date_sub(curdate(), interval 6 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 5 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 4 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 3 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 2 day) as click_date
                union all
                SELECT date_sub(curdate(), interval 1 day) as click_date
                    union all
                    SELECT curdate() as click_date


            ) a left join (
              select date(c_time) as datetime, sum(orders.money) as count ,ostate
              from orders  INNER JOIN movie_showtime ms on orders.movie_showtime_id = ms .id INNER JOIN cinema c on ms.cid=c.id where ostate BETWEEN 11 and 39 and c.aid =#{aid,jdbcType=INTEGER}
              group by date(c_time)
            ) b on a.click_date = b.datetime ORDER BY click_date asc
     </select>
    <select id="selectOrdersByAid" resultMap="BaseResultMap" parameterType="int">
        SELECT o.order_id,m.mName,c.c_name,o.money,date_format(o.c_time,'%m-%d %H:%m')as c_timeStr,date_format(ms.playtime,'%m-%d %H:%m') as formatTime,
        o.ostate ,u.username from  orders o INNER JOIN movie_showtime ms on  o.movie_showtime_id = ms.id INNER JOIN
        cinema c on ms.cid =c.id INNER JOIN movie m on ms.mid = m.id INNER JOIN user u on o.uid = u.id where
        c.aid=#{aid,jdbcType=INTEGER} ORDER BY o.c_time desc    limit #{start,jdbcType=INTEGER},#{num,jdbcType=INTEGER}

    </select>
    <select id="selectCountByAid" resultType="int">
        select COUNT(o.id) as count from orders o  INNER JOIN movie_showtime ms
         on  o.movie_showtime_id = ms.id INNER JOIN cinema c on ms.cid =c.id
          WHERE c.aid=#{aid,jdbcType=INTEGER}
    </select>
    <select id="selectChangeTicket" resultMap="BaseResultMap">
      select * from  orders  WHERE order_id is NULL and uid =#{uid} order by  id desc  limit 0,1
    </select>
    <delete id="deleteOrderIdIsNull">
      DELETE FROM orders WHERE uid = #{uid,jdbcType=INTEGER} and order_id is null or ostate=10;
    </delete>
    <update id="updateByOldOrderIdSelective" parameterType="com.woniu.orders.entity.OrdersPO">
        <!--@mbg.generated-->
        update orders
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                `uid` = #{uid,jdbcType=INTEGER},
            </if>
            <if test="cTime != null">
                c_time = #{cTime,jdbcType=TIMESTAMP},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DOUBLE},
            </if>
            <if test="ostate != null">
                ostate = #{ostate,jdbcType=TINYINT},
            </if>
            <if test="oldOrderId != null">
                old_order_id = #{oldOrderId,jdbcType=VARCHAR},
            </if>
            <if test="payway != null">
                payway = #{payway,jdbcType=TINYINT},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=VARCHAR},
            </if>
            <if test="movieShowtimeId != null">
                movie_showtime_id = #{movieShowtimeId,jdbcType=INTEGER},
            </if>
            <if test="payinfoId != null">
                payinfo_id = #{payinfoId,jdbcType=INTEGER},
            </if>
            <if test="seat != null">
                seat = #{seat,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=TINYINT},
            </if>
            <if test="seatId != null">
                seat_id = #{seatId,jdbcType=VARCHAR},
            </if>
        </set>
        where old_order_id = #{oldOrderId,jdbcType=VARCHAR}
    </update>


</mapper>