<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/web/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="/web/css/viwStyle.css" />
		<link href="/web/css/style.css" rel="stylesheet" type="text/css" media="all">
		<script type="text/javascript" src="/web/js/jquery-3.4.0.min.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/web/js/vue.js"></script>
		<script type="text/javascript"
				src="https://webapi.amap.com/maps?v=1.4.15&key=cbd8272c32373d5520b11efc4a523161"></script>
<!--		地图样式-->
		<link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
		<style type="text/css">
			#container {
				height: 220px;
				width: 220px;
			}

			.content-window-card {
				position: relative;
				box-shadow: none;
				bottom: 0;
				left: 0;
				width: auto;
				padding: 0;
			}

			.content-window-card p {
				height: 2rem;
			}

			.custom-info {
				border: solid 1px silver;
			}

			div.info-top {
				position: relative;
				background: none repeat scroll 0 0 #F9F9F9;
				border-bottom: 1px solid #CCC;
				border-radius: 5px 5px 0 0;
			}

			div.info-top div {
				display: inline-block;
				color: #333333;
				font-size: 14px;
				font-weight: bold;
				line-height: 31px;
				padding: 0 10px;
			}

			div.info-top img {
				position: absolute;
				top: 10px;
				right: 10px;
				transition-duration: 0.25s;
			}

			div.info-top img:hover {
				box-shadow: 0px 0px 5px #000;
			}

			div.info-middle {
				font-size: 12px;
				padding: 10px 6px;
				line-height: 20px;
			}

			div.info-bottom {
				height: 0px;
				width: 100%;
				clear: both;
				text-align: center;
			}

			div.info-bottom img {
				position: relative;
				z-index: 104;
			}

			span {
				margin-left: 5px;
				font-size: 11px;
			}

			.info-middle img {
				float: left;
				margin-right: 6px;
			}
		</style>
	</head>

	<body>
	<div id="app">
		<div class="head_div2">
			<div class="header">
				<div class="container">
					<div class="w3layouts_logo">
						<a href="/web/index.html"><h1 class="title">爱乐<span id="webtitle-bottom">电影</span></h1></a>
					</div>
					<div class="w3l_search_city">
						<form action="#" method="post">
							<input type="text" list="city" value="重庆"/>
							<datalist id="city">
								<option>北京</option>
							</datalist>
						</form>
					</div>
					<div class="w3_search">
						<form action="#" method="post">
							<input type="text" name="Search" placeholder="搜索一部你期待的电影吧" required="required">
							<input type="submit" value="Go">
						</form>
					</div>
					<div class="w3l_sign_in_register">
						<ul>
							<li><i class="glyphicon glyphicon-user"></i></li>
							<li><a href="#" data-toggle="modal" data-target="#myModal">登录</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!-- //header -->
			<!-- bootstrap-pop-up -->

			<!-- //bootstrap-pop-up -->
			<!-- nav -->
			<div class="movies_nav">
				<div class="container">
					<nav class="navbar navbar-default">
						<div class="navbar-header navbar-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
							<nav>
								<ul class="nav navbar-nav">
									<li class="active"><a href="index.html">首页</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">类型 <b class="caret"></b></a>
										<ul class="dropdown-menu multi-column columns-3">
											<li>
												<div class="col-sm-4">
													<ul class="multi-column-dropdown">
														<li><a href="genres.html">Action</a></li>
														<li><a href="genres.html">Biography</a></li>
														<li><a href="genres.html">Crime</a></li>
														<li><a href="genres.html">Family</a></li>
														<li><a href="horror.html">Horror</a></li>
														<li><a href="genres.html">Romance</a></li>
														<li><a href="genres.html">Sports</a></li>
														<li><a href="genres.html">War</a></li>
													</ul>
												</div>
												<div class="col-sm-4">
													<ul class="multi-column-dropdown">
														<li><a href="genres.html">Adventure</a></li>
														<li><a href="comedy.html">Comedy</a></li>
														<li><a href="genres.html">Documentary</a></li>
														<li><a href="genres.html">Fantasy</a></li>
														<li><a href="genres.html">Thriller</a></li>
													</ul>
												</div>
												<div class="col-sm-4">
													<ul class="multi-column-dropdown">
														<li><a href="genres.html">Animation</a></li>
														<li><a href="genres.html">Costume</a></li>
														<li><a href="genres.html">Drama</a></li>
														<li><a href="genres.html">History</a></li>
														<li><a href="genres.html">Musical</a></li>
														<li><a href="genres.html">Psychological</a></li>
													</ul>
												</div>
												<div class="clearfix"></div>
											</li>
										</ul>
									</li>
									<li><a href="series.html">影院</a></li>
									<li><a href="NEWs.html">热点</a></li>
									<li><a href="short-codes.html">榜单</a></li>
								</ul>
							</nav>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						欢迎使用爱乐电影
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<div class="w3_login_module">
								<div class="module form-module">
									<div class="toggle"><i class="fa fa-times fa-pencil"></i>
										<div class="tooltip">点击注册</div>
									</div>
									<div class="form">
										<fieldset>
											<legend class="form-legend">账号登录</legend>
											<div class="log-toggle"><i class="switch-log">账号密码登录</i>
											</div>
											<form action="#" method="post">
												<input type="text" name="Username" placeholder="请输入用户名" required="required">
												<input type="password" name="Password" placeholder="请输入密码" required="required">
												<label class="check-lable"><input type="checkbox" name="remember"/>记住我</label>
												<a href="#" class="forget-a">忘记密码？</a>
												<input class="btn btn-success" type="submit" value="登录">
											</form>
										</fieldset>
									</div>
									<!--
                                        作者：971872973@qq.com
                                        时间：2019-09-07
                                        描述：手机验证的表单
                                    -->
									<!--<div class="log-form">
                                        <fieldset>
                                            <legend class="form-legend">账号登录</legend>
                                            <form action="#" method="post">
                                            <input type="text" name="Username" placeholder="请输入手机号" required="required">
                                            <input type="password" name="Password" placeholder="请输入验证码" required="required">
                                            <input type="button" class="code-button" name="getcode" value="获取验证码"/>
                                            <input class="btn btn-success" type="submit" value="登录">
                                          </form>
                                      </fieldset>
                                    </div>-->
									<div class="form">
										<fieldset>
											<legend class="form-legend">注册账户</legend>
											<form action="#" method="post">
												<input type="text" name="username" placeholder="新用户名" required="">
												<input type="password" name="password" placeholder="新密码" required="">
												<input type="password" name="checkpwd" placeholder="请确认密码" required="">
												<input type="text" name="phone" placeholder="电话" required="">
												<input type="submit" value="注册">
											</form>
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<script>
			$('.toggle').click(function(){
				// Switches the Icon
				$(this).children('i').toggleClass('fa-pencil');
				// Switches the forms
				$('.form').animate({
					height: "toggle",
					'padding-top': 'toggle',
					'padding-bottom': 'toggle',
					opacity: "toggle"
				}, "slow");
			});
			//手机验证与密码验证切换（待处理）
			/*$('.log-toggle').click(function(){
                if($(this).children('i').val()=='账号密码登录'){
                    $(this).children('i').val('手机验证码登录')
                }else if($(this).children('i').val()=='手机验证码登录'){
                    $(this).children('i').val('账号密码登录')
                }
                $('.log-form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
              }, "slow");
            });*/
		</script>
		<div class="container-fluid">
			<div class="body_div col-sm-12 nopadding">
				<div class="bodyhead_div col-sm-12">
					<div class="bodyheadimg_div">
						<div class="photos col-sm-2 col-sm-offset-2">
							<div class="imagesdiv">
								<a href="#" class="pics">
									<img class="headimages" :src="cinema.facility"/>
								</a>
							</div>
						</div>
						<div class="massagesdiv col-sm-2">
							<div class="mescontent">
								<a href="/web/feng/cinemaIndex.html">
									<h3 class="cinemaname" v-text="cinema.cname"></h3>
								</a>
								<h5  v-text="cinema.caddress"></h5>
								<h4  v-text="cinema.phone"></h4>
							</div>
						</div>
						<div class="mapdiv col-sm-2 col-sm-offset-1 text-right">
							<div class="filmmap" id="container">
<!--								<div id="container"></div>-->
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="container">
			<div class="body_div nopadding">
				<div class="main col-sm-12">
					<!--排片区-->
					<div class="moviecontainer">
						<div class="col-sm-12 moviepart">
							<div class="movielist col-sm-1" v-for="(movie,index) in movielist">
								<img v-if="index==0" class="filmselected" @click="changeMovie(index,$event)" :src="movie.mpic"/>
								<img v-else class="filmtable" @click="changeMovie(index,$event)" :src="movie.mpic"/>
							</div>
						</div>
						<span class="leftbtn" onclick="rightmove()"> </span>
						<span class="rightbtn" onclick="leftmove()"> </span>
						<script type="text/javascript">
							function leftmove() {
								$(".moviepart").animate({right:"0"});
								$(".moviepart").animate({left:"-700px"});
							}
							function rightmove() {
								$(".moviepart").animate({left:"0"});
								$(".moviepart").animate({right:"-700px"});
							}
						</script>
					</div>

					<!--影片详情-->
					<div>
						<div class="filmmessage-show col-sm-12">
							<!--当前选中影片基本-->
							<div class="filmInfo">
								<div>
									<a href="/web/tao/movie-info.html"><h3 class="movie-name">{{nowMovie.mname}}</h3></a><span class="score">{{nowMovie.score}} <span class="sc">分</span></span>
								</div>
								<div class="movie-message">
									<div class="movie-mes">
										<span class="mestitle">时长:</span>
										<span class="mesvalue">{{nowMovie.longtime}}分钟</span>
									</div>
									<div class="movie-mes">
										<span class="mestitle">类型:</span>
										<span class="mesvalue" v-for="type in nowMovie.types">{{type.mtype}} </span>
									</div>
									<div class="movie-mes">
										<span class="mestitle">主演:</span>
										<span class="mesvalue">道恩·强森,杰森·斯坦森</span>
									</div>
								</div>
							</div>
							<!--当前选中影片排片时间-->
							<div class="filmtime">
								<span class="mestitle col-sm-2">可选观影时间：</span>
								<div class="col-sm-2" v-for="(day,index) in playTime">
									<span :id="'date'+index" class="dateselected dates" @click="changePlayTime(index,$event)" tabindex="1"  v-if="index==0">{{day}}</span>
									<span :id="'date'+index" class="datetable dates" @click="changePlayTime(index,$event)" tabindex="2"  v-else>{{day}}</span>
								</div>
							</div>
							<!--当前选中影片排片信息-->
							<div class="filmmess">
								<table class="filmmes">
									<thead class="filmmes_thead">
									<tr class="infoTitle_tr">
										<th class="infoTitle_th">放映时间</th>
										<th class="infoTitle_th">语言版本</th>
										<th class="infoTitle_th">放映厅</th>
										<th class="infoTitle_th">票价（元）</th>
										<th class="infoTitle_th">选座购票</th>
									</tr>
									</thead>
									<tbody class="filmmes_tbody">
									<tr class="infobody_tr_Odd" v-for="message in messageByTime">
										<td class="infobody_td">
											<span class="starttime">{{message.starttime}}</span><br /><span class="endtime">{{message.endtime}}散场</span>
										</td>
										<td class="infobody_td">
											<span class="language">{{message.cinemaRoom.type}}</span>
										</td>
										<td class="infobody_td">
											<span class="room">{{message.cinemaRoom.name}}</span>
										</td>
										<td class="infobody_td">
											<span class="price"><span class="pricefont">{{message.money}}</span></span>
										</td>
										<td class="infobody_td">

											<a class="btn-purchase"  :href="'/web/profile/xseats.html?msid='+message.id+'&mid='+message.mid">选座购票</a>
										</td>
									</tr>
									</tbody>
									<tfoot></tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
        <div class="footer1 margin2Top littlebottom_andlittletop_padding">
            <div class="container">
                <div class="w3ls_footer_grid">
                    <div class="col-md-6 w3ls_footer_grid_left">
                        <div class="w3ls_footer_grid_left1">
                            <h3>关于爱乐</h3>
                            <div class="w3ls_footer_grid_left1_pos">
                                <div class="bottom-row">
                                    <span>商务合作邮箱：971872973@qq.com</span>
                                    <span class="bt-line">|</span>
                                    <span>客服电话：17603649546</span>
                                </div>
                                <div class="bottom-row">
                                    <span>用户投诉邮箱：1099773854@qq.com</span>
                                    <span class="bt-line">|</span>
                                    <span>友情链接：<a href="https://cq.meituan.com/?utm_source=wwwmaoyan" class="bottom-chain">美团网</a></span>
                                </div>
                                <div class="bottom-row">
                                    <a href="#" class="bottom-chain">中华人民共和国增值电信业务经营许可证&nbsp;渝A1-20190909</a>
                                </div>
                                <div class="bottom-row">
                                    <a href="#" class="bottom-chain">网络文化经营许可证&nbsp;京网文(2019)3897-330号</a>
                                </div>
                                <div class="bottom-row">
                                    <a href="#" class="bottom-chain">爱乐用户服务协议</a>
                                    <span class="bt-line">|</span>
                                    <a href="#" class="bottom-chain">爱乐平台交易规则总则</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 w3ls_footer_grid_right">
                        <a href="/web/index.html"><h2 class="title">爱乐<span id="webtitle-bottom">电影</span></h2></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-5 w3ls_footer_grid1_left">
                    <p>重庆爱乐文化传媒有限公司©2016 爱乐电影 aiyue.com </p>
                </div>
                <div class="col-md-7 w3ls_footer_grid1_right">
                    <div class="col-lg-6 card-left">
                        <a href="#"><img src="images/web-permission.png" /></a>
                    </div>
                    <div class="col-lg-6 card-right">
                        <a href="#"><img src="images/permission-card.png" /></a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
		</div>
		<script type="text/javascript">


			// function datechoose(obj){
			// 	$(obj).addClass("dateselected").removeClass("datetable");
			// 	$(obj).siblings(":not(':first')").addClass("datetable").removeClass("dateselected");
			// };
			/**
			 * 格式化时间
			 * @param second
			 * @param getDateType
			 * @returns {string|number}
			 */
			function getTime(second) {
				var date =new Date(second);
				var year = date.getFullYear()
				if((date.getMonth()+1)<=9){
					var month ="0"+(date.getMonth()+1);
				}else {
					var month =date.getMonth()+1;
				}
				if(date.getDate()<=9){
					var day =  "0"+date.getDate();
				}else {
					var day =   date.getDate();
				}
				if(date.getHours()<=9){
					var hour =  "0"+date.getHours();
				}else {
					var hour =  date.getHours();
				}
				if(date.getMinutes()<=9){
					var minutes =  "0"+date.getMinutes();
				}else {
					var minutes =  date.getMinutes();
				}
				if(date.getSeconds ()<=9){
					var seconds = "0" + date.getSeconds ();
				}else{
					var seconds =  date.getSeconds ();
				}
				return year+"-"+month+"-"+day+" "+hour+":"+minutes+":"+seconds;
			}

			$(function () {
				var app = new Vue({
					el:"#app",
					data:{
						movielist:[],
						nowMovie:{},
						playTime:[],
						nowMessage:[],
						messageByTime:[],
						cinema:{}
					},
					methods:{
						changeMovie:function (index,e) {
							//改变选择电影图片的样式
							$(e.target).addClass("filmselected").removeClass("filmtable");
							$(e.target).parent().siblings().children().addClass("filmtable").removeClass("filmselected");
							//更改电影时，默认选中最近一天的拍片信息
							$(e.target).parent().parent().parent().next().children().children(":eq(1)").children(":eq(1)").children().addClass("dateselected").removeClass("datetable");
							$(e.target).parent().parent().parent().next().children().children(":eq(1)").children(":eq(1)").children().parent().siblings().children().addClass("datetable").removeClass("dateselected");
							//改变vue对象里面当前电影的数据
							this.nowMovie=this.movielist[index]
							//改变当前电影对应的拍片信息
							this.nowMessage=this.movielist[index].movieShowtimes;
							//获取当前电影的所有拍片日期
							this.playTime = getPlayDay(this.nowMessage);
							//清除当前日期的拍片信息
							this.messageByTime.length=0;
							//获取当前电影在最近一天的拍片信息
							for(var i=0;i<_this.nowMessage.length;i++){
								if(_this.nowMessage[i].startday==_this.playTime[0]){
									_this.messageByTime.push(_this.nowMessage[i])
								}
							}

						},
						changePlayTime:function (index,e) {
							this.messageByTime.length=0;

							//改变点击元素的样式
							$(e.target).addClass("dateselected").removeClass("datetable");
							$(e.target).parent().siblings().children().addClass("datetable").removeClass("dateselected");

							//获取点击天数的怕排片信息（_this.playTime[0]）messageByTime:[]
							for(var i=0;i<this.nowMessage.length;i++){
								if(this.nowMessage[i].startday==this.playTime[index]){
									this.messageByTime.push(this.nowMessage[i]);
								}
							}
						}
					},
					created:function () {
						_this = this;

						//根据影院id查出拍片的所有电影及拍片详情
						$.ajax({
							url:"/movie-stage/movie/bycid/1",
							type:"get",
							dataType:"json",
							success:function (data) {
								//格式化时间格式
								for(i in data.list){
									for(j in data.list[i].movieShowtimes){
										data.list[i].movieShowtimes[j].playtime = getTime(data.list[i].movieShowtimes[j].playtime);

										var dateTimeStr=data.list[i].movieShowtimes[j].playtime;


										data.list[i].movieShowtimes[j].starttime=dateTimeStr.split(" ")[1];

										data.list[i].movieShowtimes[j].startday=dateTimeStr.split(" ")[0];

										var end = Date.parse(data.list[i].movieShowtimes[j].playtime)+data.list[i].longtime*60*1000;
										data.list[i].movieShowtimes[j].endtime=getTime(end);
									}
								}
								_this.movielist=data.list;

								if(_this.movielist != null && _this.movielist.length>0){
									//获取当前展示拍片信息的电影
									_this.nowMovie=data.list[0];
									//获取当前展示电影的拍片信息
									_this.nowMessage=_this.nowMovie.movieShowtimes;
									//获取拍片的时间
									_this.playTime=getPlayDay(_this.nowMessage)

									//获取最近一天的怕排片信息（_this.playTime[0]）messageByTime:[]
									for(var i=0;i<_this.nowMessage.length;i++){
										if(_this.nowMessage[i].startday==_this.playTime[0]){
											_this.messageByTime.push(_this.nowMessage[i])
										}
									}

								}
							}
						})

						//根据影院id查出影院信息
						$.ajax({
							url:"/cinema-stage/cinema/bycid?cid=1",
							type:"get",
							dataType:"json",
							success:function (data) {
								_this.cinema=data.object
								console.log(_this.cinema)
								//渲染地图
								var centerPoint=_this.cinema.coordinate.split(",");


								var map = new AMap.Map("container", {
									resizeEnable: true,
									center: centerPoint,
									zoom: 16
								});

								//实例化信息窗体
								var title = '方恒假日酒店<span style="font-size:11px;color:#F00;">价格:318</span>',
										content = [];
								content.push("<img :src='cinema.facility'>地址：<span v-text='cinema.caddress'></span>");
								content.push("电话：010-64733333");
								content.push("<a href='https://ditu.amap.com/detail/B000A8URXB?citycode=110105'>详细信息</a>");
								var infoWindow = new AMap.InfoWindow({
									isCustom: true,  //使用自定义窗体
									content: createInfoWindow(title, content.join("<br/>")),
									offset: new AMap.Pixel(16, -45)
								});

								addMarker(infoWindow,map,centerPoint);

							}
						})
					}
				})
			})


			/**
			 * 根据当前电影拍片信息，获得拍片时间
			 * @param playTime
			 * @param nowMessage
			 */
			function getPlayDay(nowMessage) {
				var playTime = [];
				var flag = false;
				for(var index=0;index<nowMessage.length;index++){
					if(playTime.length < 1){
						playTime.unshift(nowMessage[index].startday);
						continue;
					}
					for (var j=0;j<playTime.length;j++) {
						if(playTime[j]==nowMessage[index].startday){
							flag = true;
							break;
						}
					}
					if(!flag){
						playTime.push(nowMessage[index].startday);
					}
					flag=false
				}
				return playTime;
			}






			function addMarker(infoWindow,map,centerPoint) {
				map.clearMap();
				var marker = new AMap.Marker({
					map: map,
					position: centerPoint
				});
				//鼠标点击marker弹出自定义的信息窗体
				AMap.event.addListener(marker, 'click', function () {
					infoWindow.open(map, marker.getPosition());
				});
			}

			//构建自定义信息窗体
			function createInfoWindow(title, content) {
				var info = document.createElement("div");
				info.className = "custom-info input-card content-window-card";

				//可以通过下面的方式修改自定义窗体的宽高
				//info.style.width = "400px";
				// 定义顶部标题
				var top = document.createElement("div");
				var titleD = document.createElement("div");
				var closeX = document.createElement("img");
				top.className = "info-top";
				titleD.innerHTML = title;
				closeX.src = "https://webapi.amap.com/images/close2.gif";
				closeX.onclick = closeInfoWindow;

				top.appendChild(titleD);
				top.appendChild(closeX);
				info.appendChild(top);

				// 定义中部内容
				var middle = document.createElement("div");
				middle.className = "info-middle";
				middle.style.backgroundColor = 'white';
				middle.innerHTML = content;
				info.appendChild(middle);

				// 定义底部内容
				var bottom = document.createElement("div");
				bottom.className = "info-bottom";
				bottom.style.position = 'relative';
				bottom.style.top = '0px';
				bottom.style.margin = '0 auto';
				var sharp = document.createElement("img");
				sharp.src = "https://webapi.amap.com/images/sharp.png";
				bottom.appendChild(sharp);
				info.appendChild(bottom);
				return info;
			}

			//关闭信息窗体
			function closeInfoWindow() {
				map.clearInfoWindow();
			}


		</script>
	</body>

</html>