<!DOCTYPE html>
<html lang="en">
<head>
    <title>详情</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script src="/web/js/vue.js"></script>
    <!-- //for-mobile-apps -->
    <link href="/web/ltcss/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" type="text/css" href="ltcss/order-detail.3a8a0a18.css"/>
    <link href="/web/ltcss/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/web/assets/css/icofont.css">
    <script type="text/javascript" src="/web/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/web/js/move-top.js"></script>
    <script type="text/javascript" src="/web/js/easing.js"></script>
    <link rel="stylesheet" type="text/css" href="/web/ltcss/order-detail.3a8a0a18.css"/>
     <link rel="stylesheet" type="text/css" href="/web/ltcss/profile-profile.13d06bf4.css"/>
    <link rel="stylesheet" type="text/css" href="/web/list-css/basictable.css"/>
    <script type="text/javascript" src="/web/list-js/jquery.basictable.min.js"></script>
    <script type="text/javascript" src="/web/js/vue.js"></script>
    <link rel="stylesheet" href="/web/ltcss/style1.css">
    <link rel="icon" type="image/png" href="/web/assets/img/favcion.png"/>


    <!-- //tables -->

</head>

<body>
<!-- header -->
<header class="header" style="background-color: #13151f">
    <div class="container">
        <div class="header-area">
            <div class="logo">
                <a href="index.html"><img src="/web/assets/img/logo.png" alt="logo"/></a>
            </div>
            <div class="header-right">
                <form action="#">
                    <select>
                        <option value="Movies">电影</option>
                        <option value="cinema">影院</option>
                        <option value="celebrity">演员</option>
                    </select>
                    <input type="text"/>
                    <button><i class="icofont icofont-search"></i></button>
                </form>
                <ul>
                    <li><a href="#"> 爱乐电影</a></li>
                    <li><a class="login-popup" href="#">登录</a></li>
                </ul>
            </div>
            <div class="menu-area">
                <div class="responsive-menu"></div>
                <div class="mainmenu">
                    <ul id="primary-menu">
                        <li><a class="active" href="index.html">首页</a></li>
                        <li><a href="movies.html">电影</a></li>
                        <li><a href="celebrities.html">明星</a></li>
                        <li><a href="top-movies.html">热映电影</a></li>
                        <li><a href="blog.html">热点</a></li>
                        <li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
                            <ul>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="movie-details.html">Movie Details</a></li>
                            </ul>
                        </li>
                        <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> 购票</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="login-area">
    <div class="login-box">
        <a href="#"><i class="icofont icofont-close"></i></a>
        <h2>登录</h2>
        <form action="#">
            <h6>用户名或手机号</h6>
            <input type="text" name="username"/>
            <h6>密码</h6>
            <input type="text" name="password" placeholder="请输入密码"/>
            <div class="login-remember">
                <input type="checkbox"/>
                <span>记住我</span>
            </div>
            <div class="login-signup">
                <span>注册</span>
            </div>
            <a href="#" class="theme-btn">登录</a>
            <span>快捷登录</span>
            <div class="login-social">
                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                <a href="#"><i class="icofont icofont-camera"></i></a>
            </div>
        </form>

    </div>
</div>

<!-- hero area start -->
<section class="hero-area" id="home">

<div class="container" id="app" >

    <div class="order-container" data-page-type="detail" :data-order-id="msg.object.orderId" >

        <div class="status-box unpaid" >
            <p  class="title" v-text="msg.object.ostateMsg"></p>

            <p class="desc" v-if="msg.object.leftPaySecond>0" :data-left-pay-second="msg.object.leftPaySecond">
                请在<span class="minute"></span>分钟<span class="second"></span>秒内完成支付
            </p>
        </div>
        <div v-if="msg.object.code!=null" style="margin-left: 0px ;width: 80px"><img :src="msg.object.code" alt="" style="height: 100px "></div>


        <div class="order-note">

            <span class="order-id" v-text="'爱乐订单号:'+msg.object.orderId"></span>
            <span class="contact">（有订单问题可拨打爱乐客服电话<i>1010-5335</i>，工作时间: 9:00-24:00）</span>
        </div>

        <table class="order-table">
            <thead>
            <tr style="color:#FF8D1B;">
                <th class="text-center">影片</th>
                <th class="text-center">时间</th>
                <th class="text-center">影院</th>
                <th class="text-center">座位</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="movie-name" v-text="msg.object.movieName"></td>
                <td class="showtime" v-text="msg.object.formatTime"></td>
                <td class="cinema-name" v-text="msg.object.cinemaName"></td>
                <td>
                    <span class="hall" v-text="msg.object.roomName"></span>
                    <div class="seats">
                        <div >
                            <span class=""  v-for="seatname in msg.object.seatList" v-text="seatname.seatName"></span>&nbsp;&nbsp;&nbsp;
                        </div>
                        <div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <div class="order-bottom">
             <div class="col-lg-offset-10 col-lg-2">
                 <a  style="padding-left: 5px" v-if="msg.object.ostateMsg=='已付款'" class="  btn btn-warning pay-btn" >改签</a>
                <a  style=" margin-left: 45px" v-if="msg.object.ostateMsg=='已付款'" class="  btn btn-warning pay-btn" @click="show()" >退款</a>
            </div>
            <div class="clearfix">
                <div class="cinema-info">
                    <p class="name" v-text="msg.object.cinemaName"></p>
                    <p class="address" v-text="'地址： '+msg.object.cinemaAddress"></p>
                    <p class="phone" v-text="'电话： '+msg.object.phone"></p>
                </div>

                <div class="price-box">
                    <span>总价:</span>
                    <span class="price" v-text="msg.object.money"></span>
                </div>
            </div>

            <div class="btn-wrapper">
                <div v-if="msg.object.leftPaySecond>0" class="pay-btn" @click="pay()" :data-order-id="msg.object.orderId">立即支付</div>

            </div>
        </div>
    </div>

    <div v-if="msg.object.ostate==10" id="ordertime" class="modal-container" style="display: none" >
        <div class="modal1">
            <span class="icon"></span>
            <p class="tip">支付超时，该订单已失效，请重新购买</p>
            <div class="ok-btn btn">我知道了</div>
        </div>
    </div>
        <div v-if="msg.object.ostate==20" class="mask2" style="display: none">
        <div class="modal-container" >
            <div class="modal1" style="height: 450px">
                <span>请输入退款原因</span>
                <form id ="refund"  action="">
                    <textarea style="width: 401px;height:330px ;resize:none" name="refundReason"
                              placeholder="最多输入300字"></textarea>
                </form>
                <div class="col-lg-12">
                    <input @click="refund()" class="btn btn-danger" type="button " value=" 确定退款">
                    <input @click="cancelRefund()" class="btn btn-default cancel-btn " value="取消">
                </div>

            </div>
        </div>

    </div>

    <form  id="form" name="cashierForm" method="post" action="/orders/pay/topay">
        <input type="hidden" name="oid" :value="msg.object.orderId">
        <input type="hidden" name="pay_token" value="">
        <!--      <input type="hidden" name="website" value="mtmaoyan">-->
        <input type="hidden" name="pay_success_url" value="192.168.50./web/profile/orders.html">
        <input type="hidden" name="nb_platform" value="www">
        <input type="hidden" name="nb_source" value="cashier-pcforcustomer">
    </form>

</div>
<script type="text/javascript">
    var href = window.location.href;
    var id = href.split("=")[1];

    function select(obj) {

        $.ajax({
            url: "/orders/profile/orders/detail",
            data: {"oid": id},
            type: "get",
            dataType: "json",
            success: function (data) {
                obj.msg = data;
                obj.time = data.object.leftPaySecond;
            }
        })
    }

    var timer;
    var app = new Vue({
        el: "#app",
        data: {
            msg: ""
            , time: ""
            , timer: ""
        },
        created: function () {
            var  obj = this
            select(obj);


        },
        updated: function () {
            timer = setInterval(this.paytime, 1000)

        },
        methods: {
            paytime() {
                var time = parseInt(this.time)
                if (time <= 0) {

                    clearInterval(timer);
                    $("#ordertime").show();

                    $(".ok-btn").click(function () {
                        $("#ordertime").hide();
                    })
                }
                this.time = time - 1;
                var minute = Math.floor(time / 60);
                var second = time % 60;
                $(".minute").text(minute);
                $(".second").text(second);
            },
           pay:function () {
               $("#form").submit();
           },
           cancelRefund(){

           },
            show:function () {
                $(".mask2").show();
            },
            cancelRefund() {
                 $(".mask2").hide();
            },
            refund(){
                $.ajax({
            url: "/orders/pay/refund",
            data:$("#refund").serialize()+"&oid="+id,
            type: "get",
            dataType: "json",
            success: function (data) {
                if(data.message=="退款成功"){
                     alert(data.message)
                    window.location.href="/web/profile/orders.html"
                }else {
                    alert("退款失败")
                }

            }
        })
            }

        }
    })
</script>


<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h3>关于爱乐</h3>
                    <div class="w3ls_footer_grid_left1_pos">
                        <div class="bottom-row">
                            <span>商务合作邮箱：971872973@qq.com</span>
                            <span class="bt-line">|</span>
                            <span>客服电话：17603649546</span>
                        </div>
                        <div class="bottom-row">
                            <span>用户投诉邮箱：1099773854@qq.com</span>
                            <span class="bt-line">|</span>
                            <span>友情链接：<a href="https://cq.meituan.com/?utm_source=wwwmaoyan"
                                          class="bottom-chain">美团网</a></span>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">中华人民共和国增值电信业务经营许可证&nbsp;渝A1-20190909</a>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">网络文化经营许可证&nbsp;京网文(2019)3897-330号</a>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">爱乐用户服务协议</a>
                            <span class="bt-line">|</span>
                            <a href="#" class="bottom-chain">爱乐平台交易规则总则</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2 class="title">爱乐<span id="webtitle-bottom">电影</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>重庆爱乐文化传媒有限公司©2016 爱乐电影 aiyue.com </p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <div class="col-lg-6 card-left">
                <a href="#"><img src="images/web-permission.png"/></a>

            </div>
            <div class="col-lg-6 card-right">
                <a href="#"><img src="images/permission-card.png"/></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="/web/js/bootstrap.min.js"></script>
    <!-- jquery main JS -->
    <script src="/web/js/vue.js" type="text/javascript"></script>
    <script src="/web/assets/js/jquery.min.js"></script>
    <!-- Slick nav JS -->
    <script src="/web/assets/js/jquery.slicknav.min.js"></script>
    <!-- owl carousel JS -->
    <script src="/web/assets/js/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="/web/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JS -->
    <script src="/web/assets/js/isotope.pkgd.min.js"></script>
    <!-- main JS -->
    <script src="/web/assets/js/main.js"></script>


</body>
</html>