<!DOCTYPE HTML>

<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moviepoint - Online Movie,Vedio and TV Show HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="/web/assets/img/favcion.png"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/bootstrap.min.css" media="all"/>
    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/slicknav.min.css" media="all"/>
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/icofont.css" media="all"/>
    <!-- Owl carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/owl.carousel.css">
    <!-- Popup CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/magnific-popup.css">
    <!-- Main style CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/style.css" media="all"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/responsive.css" media="all"/>
</head>
<body>
<div id="app">
    <!-- header section start -->
    <header class="header">
        <div class="container">
            <div class="header-area">
                <div class="logo">
                    <a href="index.html"><img src="/web/assets/img/logo.png" alt="logo"/></a>
                </div>
                <div class="header-right">
                    <form action="#">
                        <select>
                            <option value="Movies">Movies</option>
                            <option value="Movies">Movies</option>
                            <option value="Movies">Movies</option>
                        </select>
                        <input type="text"/>
                        <button><i class="icofont icofont-search"></i></button>
                    </form>
                    <ul>
                        <li><a href="#">Welcome Guest!</a></li>
                        <li><a class="login-popup" href="#">Login</a></li>
                    </ul>
                </div>
                <div class="menu-area">
                    <div class="responsive-menu"></div>
                    <div class="mainmenu">
                        <ul id="primary-menu">
                            <li><a class="active" href="index.html">Home</a></li>
                            <li><a href="movies.html">Movies</a></li>
                            <li><a href="celebrities.html">CelebritiesList</a></li>
                            <li><a href="top-movies.html">Top Movies</a></li>
                            <li><a href="blog.html">News</a></li>
                            <li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="movie-details.html">Movie Details</a></li>
                                </ul>
                            </li>
                            <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="login-area">
        <div class="login-box">
            <a href="#"><i class="icofont icofont-close"></i></a>
            <h2>LOGIN</h2>
            <form action="#">
                <h6>USERNAME OR EMAIL ADDRESS</h6>
                <input type="text"/>
                <h6>PASSWORD</h6>
                <input type="text"/>
                <div class="login-remember">
                    <input type="checkbox"/>
                    <span>Remember Me</span>
                </div>
                <div class="login-signup">
                    <span>SIGNUP</span>
                </div>
                <a href="#" class="theme-btn">LOG IN</a>
                <span>Or Via Social</span>
                <div class="login-social">
                    <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                    <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                    <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                    <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                    <a href="#"><i class="icofont icofont-camera"></i></a>
                </div>
            </form>

        </div>
    </div>
    <div class="buy-ticket">
        <div class="container">
            <div class="buy-ticket-area">
                <a href="#"><i class="icofont icofont-close"></i></a>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="buy-ticket-box">
                            <h4>Buy Tickets</h4>
                            <h5>Seat</h5>
                            <h6>Screen</h6>
                            <div class="ticket-box-table">
                                <table class="ticket-table-seat">
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                </table>
                                <table class="ticket-table-seat">
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                        <td class="active">1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                    </tr>
                                </table>
                                <table class="ticket-table-seat">
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="ticket-box-available">
                                <input type="checkbox"/>
                                <span>Available</span>
                                <input type="checkbox" checked/>
                                <span>Unavailable</span>
                                <input type="checkbox"/>
                                <span>Selected</span>
                            </div>
                            <a href="#" class="theme-btn">previous</a>
                            <a href="#" class="theme-btn">Next</a>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="buy-ticket-box mtr-30">
                            <h4>Your Information</h4>
                            <ul>
                                <li>
                                    <p>Location</p>
                                    <span>HB Cinema Box Corner</span>
                                </li>
                                <li>
                                    <p>TIME</p>
                                    <span>2018.07.09   20:40</span>
                                </li>
                                <li>
                                    <p>Movie name</p>
                                    <span>Home Alone</span>
                                </li>
                                <li>
                                    <p>Ticket number</p>
                                    <span>2 Adults, 2 Children, 2 Seniors</span>
                                </li>
                                <li>
                                    <p>Price</p>
                                    <span>89$</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- header section end -->
    <!-- hero area start -->
    <section class="hero-area" id="home">
        <div class="container" >
            <div class="row hero-area-slide"  >
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content" >
                        <img style="height: 702.19px;opacity:0.8;" id="actpic" :src="showmovie.mpic" alt="about"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7" >
                    <div class="hero-area-content pr-50">
                        <h2 v-text="showmovie.mname"></h2>
                        <div class="review">
                            <div class="author-review">
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                                <i class="icofont icofont-star"></i>
                            </div>
                            <h4 v-text="showmovie.score"></h4>
                        </div>
                        <p v-text="showmovie.shortStory"></p>
                        <div class="slide-trailor">
                            <h3>Watch Trailer</h3>
                            <a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
                        </div>
                    </div>
                    <div style="width:100%;height:50%;background-color: transparent;position:absolute;bottom:0;left: 0">
                        <div v-if="index<3" :id="'picdiv'+index" onclick="changepic(this)" v-for="(movie,index) in newMovie" style="width: 33.333333%;height: 100%;;position: relative;float: left" >
                            <img :src="movie.mpic" alt="" style="width: 100%;height: 100%;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- hero area end -->
    <!-- portfolio section start -->
    <section class="portfolio-area pt-60">
        <div class="container">
            <div class="row flexbox-center">
                <div class="col-lg-6 text-center text-lg-left">
                    <div class="section-title">
                        <h1><i class="icofont icofont-movie"></i> Spotlight This Month</h1>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-9">
                    <div class="row portfolio-item">
                        <div class="col-md-4 col-sm-6 soon released" v-for="(movie,index) in newMovie">
                            <div class="single-portfolio">
                                <div class="single-portfolio-img">
                                    <img style="height: 357px" :src="movie.mpic" alt="portfolio"/>
                                    <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                        <i class="icofont icofont-ui-play"></i>
                                    </a>
                                </div>
                                <div class="portfolio-content">
                                    <h4 v-text="movie.mname">Boyz II Men</h4>
                                    <div class="review">
                                        <div class="author-review">
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                            <i class="icofont icofont-star"></i>
                                        </div>
                                        <h4 v-text="movie.score">180k voters</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center text-lg-left">
                    <div class="portfolio-sidebar">
                        <img src="/web/assets/img/sidebar/sidebar1.png" alt="sidebar"/>
                        <img src="/web/assets/img/sidebar/sidebar2.png" alt="sidebar"/>
                        <img src="/web/assets/img/sidebar/sidebar3.png" alt="sidebar"/>
                        <img src="/web/assets/img/sidebar/sidebar4.png" alt="sidebar"/>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- portfolio section end -->
    <!-- video section start -->
    <section class="video ptb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title pb-20">
                        <h1><i class="icofont icofont-film"></i> Trailers & Videos</h1>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-9">
                    <div class="video-area">
                        <img style="width:100%;height: 403px;" :src="topmovie.mpic" alt="video"/>
                        <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                            <i class="icofont icofont-ui-play"></i>
                        </a>
                        <div class="video-text">
                            <h2 v-text="topmovie.mname">Angle of Death</h2>
                            <div class="review">
                                <div class="author-review">
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                    <i class="icofont icofont-star"></i>
                                </div>
                                <h4 v-text="topmovie.score">180k voters</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 col-sm-6" v-for="(movie,index) in newMovie">
                            <div v-if="index<3&index>0" class="video-area">
                                <img style="width: 100%;height: 182px;" :src="movie.mpic" alt="video"/>
                                <a href="https://www.youtube.com/watch?v=RZXnugbhw_4" class="popup-youtube">
                                    <i class="icofont icofont-ui-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- video section end -->
    <!-- footer section start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <img src="/web/assets/img/logo.png" alt="about"/>
                        <p>7th Harley Place, London W1G 8LZ United Kingdom</p>
                        <h6><span>Call us: </span>(+880) 111 222 3456</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Account</h4>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Watchlist</a></li>
                            <li><a href="#">Collections</a></li>
                            <li><a href="#">User Guide</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4>Newsletter</h4>
                        <p>Subscribe to our newsletter system now to get latest news from us.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your email.."/>
                            <button>SUBSCRIBE NOW</button>
                        </form>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left">
                        <div class="copyright-content">
                            <p>&copy; 2018 MoviePoint. All Rights <a href="http://www.17sucai.com/">Reserved</a>. Designed
                                by themerocket</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right">
                        <div class="copyright-content">
                            <a href="#" class="scrollToTop">
                                Back to top<i class="icofont icofont-arrow-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- jquery main JS -->
<script src="/web/js/vue.js" type="text/javascript"></script>
<script src="/web/assets/js/jquery.min.js"></script>
<!-- Slick nav JS -->
<script src="/web/assets/js/jquery.slicknav.min.js"></script>
<!-- owl carousel JS -->
<script src="/web/assets/js/owl.carousel.min.js"></script>
<!-- Popup JS -->
<script src="/web/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Isotope JS -->
<script src="/web/assets/js/isotope.pkgd.min.js"></script>
<!-- main JS -->
<script src="/web/assets/js/main.js"></script>


<script type="text/javascript">
    function changepic(obj) {
        app1.showmovie = app1.newMovie[$(obj).index()];
    };

    $(function () {
        var index=0;
        setInterval(function(){
            if(index <= 2){
                $("#picdiv"+index).click();
                index+=1;
            }else{
                index=0;
                $("#picdiv"+index).click();
            }
        }, 3000);
    })
    var app1=new Vue({
        el:"#app",
        data:{
            newMovie:[],
            activeIndex:0,
            showmovie:{},
            topmovie:{}
        },
        created:function () {
            var _this=this;
            //查询最新的3部电影
            $.ajax({
                url:"/movie-stage/movie/orderbytime/6",
                type:"get",
                dataType:"json",
                success:function (data) {
                    _this.newMovie=data.list;
                    _this.showmovie = data.list[0];
                    _this.topmovie = data.list[0];
                    console.log(data);
                }

            })
        }
    })
    window.onload=function(){
        $.getScript('/web/assets/js/jquery.slicknav.min.js',function(){
        });
        $.getScript('/web/assets/js/owl.carousel.min.js',function(){
        });
        $.getScript('/web/assets/js/owl.carousel.min.js',function(){
        });
        $.getScript('/web/assets/js/isotope.pkgd.min.js',function(){
        });
        $.getScript('/web/assets/js/main.js',function(){
        });
    }

</script>
</body>
</html>
