<!DOCTYPE html>
<html><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>

    <link rel="stylesheet" type="text/css" href="/web/ltcss/profile-profile.13d06bf4.css"/>

    <!-- //for-mobile-apps -->
    <script type="text/javascript" src="/web/js/vue.js"></script>

    <link href="/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/web/ltcss/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/web/css/contactstyle.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="/web/css/faqstyle.css" type="text/css" media="all"/>
    <link href="/web/css/single.css" rel='stylesheet' type='text/css'/>
    <link href="/web/css/medile.css" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/web/ltcss/profile-profile.13d06bf4.css">
    <!-- banner-slider -->
    <link href="/web/css/jquery.slidey.min.css" rel="stylesheet">
    <!-- //banner-slider -->
    <!-- pop-up -->
    <link href="/web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- //pop-up -->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="/web/css/font-awesome.min.css"/>
    <!-- //font-awesome icons -->
    <!-- js -->
    <script type="text/javascript" src="/web/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- banner-bottom-plugin -->
    <link href="/web/css/owl.carousel.css" rel="stylesheet" type="text/css" media="all">
    <script src="/web/js/owl.carousel.js"></script>

    <!-- //banner-bottom-plugin -->
    <!---<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>--->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="/web/js/move-top.js"></script>
    <script type="text/javascript" src="/web/js/easing.js"></script>
    <script type="text/javascript" src="/web/ltjs/profile-profile.59b4a3a3.js.下载"></script>
    <link rel="icon" type="image/png" href="/web/assets/img/favcion.png"/>
    <!-- Bootstrap CSS -->

    <!-- Slick nav CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/slicknav.min.css" media="all"/>
    <!-- Iconfont CSS -->
    <link rel="stylesheet" type="text/css" href="/web/assets/css/icofont.css" media="all"/>
    <!-- Owl carousel CSS -->

    <!-- Popup CSS -->

    <!-- Main style CSS -->
    <link rel="stylesheet" type="text/css" href="/web/ltcss/style1.css" media="all"/>
    <!-- Responsive CSS -->

</head>

<body>
<header class="header" style="background-color: #13151f">
    <div class="container">
        <div class="header-area">
            <div class="logo">
                <a href="index.html"><img src="/web/assets/img/logo.png" alt="logo"/></a>
            </div>
            <div class="header-right">
                <form action="#">
                    <select>
                        <option value="Movies">电影</option>
                        <option value="cinema">影院</option>
                        <option value="celebrity">演员</option>
                    </select>
                    <input type="text"/>
                    <button><i class="icofont icofont-search"></i></button>
                </form>
                <ul>
                    <li><a href="#"> 爱乐电影</a></li>
                    <li><a class="login-popup" href="#">登录</a></li>
                </ul>
            </div>
            <div class="menu-area">
                <div class="responsive-menu"></div>
                <div class="mainmenu">
                    <ul id="primary-menu">
                        <li><a class="active" href="index.html">首页</a></li>
                        <li><a href="movies.html">电影</a></li>
                        <li><a href="celebrities.html">明星</a></li>
                        <li><a href="top-movies.html">热映电影</a></li>
                        <li><a href="blog.html">热点</a></li>
                        <li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
                            <ul>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="movie-details.html">Movie Details</a></li>
                            </ul>
                        </li>
                        <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> 购票</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="login-area">
    <div class="login-box">
        <a href="#"><i class="icofont icofont-close"></i></a>
        <h2>登录</h2>
        <form action="#">
            <h6>用户名或手机号</h6>
            <input type="text" name="username"/>
            <h6>密码</h6>
            <input type="password" name="password" />
            <div class="login-remember">
                <input type="checkbox"/>
                <span>记住我</span>
            </div>
            <div class="login-signup">
                <span>注册</span>
            </div>
            <a href="#" class="theme-btn">登录</a>
            <span>快捷登录</span>
            <div class="login-social">
                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                <a href="#"><i class="icofont icofont-social-google-plus"></i></a>
                <a href="#"><i class="icofont icofont-camera"></i></a>
            </div>
        </form>

    </div>
</div>

<!-- hero area start -->
<section class="hero-area" id="home">
-->
<div class="container" id="app" style="margin-top: 100px ">
    <div class="content">
        <div class="main">
            <div class="info-content clearfix">
                <div class="user-profile-nav">
                    <h1>个人中心</h1>
                    <a href="/web/profile/orders.html" class="orders active">我的订单</a>
                    <a href="/web/profile/profile.html" class="profile ">基本信息</a>
                </div>

                <div class="orders-container">
                    <div class="profile-title">我的订单</div>
                    <!--
                        作者：offline
                        时间：2019-09-09
                        描述：订单
                    -->
                    <div class="order-box" v-for="orders in msg.list" :data-orderid=orders.orderId>
                        <div class="order-header">
                            <span class="order-date" v-text="orders.ctime"></span>
                            <span class="order-id" v-text="'爱乐订单号：'+orders.orderId"></span>
                            <span class="del-order" @click="del($event)" :data-orderid="orders.orderId"></span>
                        </div>

                        <div class="order-body">
                            <div class="poster">
                                <img :src="orders.posterUrl">
                            </div>

                            <div class="order-content">
                                <div class="movie-name" v-text="orders.movieName"></div>
                                <div class="cinema-name" v-text="orders.cinemaName"></div>
                                <div class="hall-ticket">
                                    <span v-text="orders.roomName"></span>
                                    <span v-for="seat in orders.seatList" v-text="seat.seatName"></span>
                                </div>
                                <div class="show-time" v-html="orders.formatTime"></div>
                            </div>
                            <div class="order-price" v-text="'￥'+orders.money"></div>

                            <div class="order-status" v-text="orders.ostateMsg">

                            </div>
                            <div class="actions">
                                <div>
                                    <a v-if="orders.ostateMsg=='未支付'" class="pay-btn"
                                       :href="'detail.html?oid='+orders.orderId" data-act="orders-pay-click"
                                       d>付款</a>

                                    <a :href="'detail.html?oid='+orders.orderId" class="order-detail"
                                       data-act="orders-detail-click"
                                       data-bid="b_y190atas">查看详情</a>
                                </div>
                            </div>
                        </div>

                    </div >
                    <div>
                        <div class="col-lg-6" style="color:  #eb315a;">
                            <span v-text="'总共'+msg.object.pageCount+'页'"></span>
                            <span v-text="'当前是第'+msg.object.pageIndex+'页'"></span></div>
                       <div class="col-lg-offset-9 col-lg-3" v-if="msg.object.pageCount>1">
                           <a v-if="msg.object.pageIndex!=1" class="btn  btn-default" @click="prev()" style="background-color:#eb315a">上一页</a>
                           <a v-if="msg.object.pageIndex!=msg.object.pageCount" class="btn btn-default" @click="next()" style="background-color: #eb315a">下一页</a>
                       </div>
                    </div>
                    <div class="orders-pager">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mask3">
        <div class="modal-container" style="display:none">
            <div class="modal1">
                <span class="icon"></span>
                <p class="tip">您确定要删除该订单嘛？删除后，不可恢复～</p>
                <div @click="btn()" class="short btn ok-btn">确定</div>
                <div @click="cancel()" class="short btn cancel-btn">取消</div>
            </div>
        </div>
    </div>


</div>
    <script src="/web/js/vue.js" type="text/javascript"></script>
    <script src="/web/assets/js/jquery.min.js"></script>
    <!-- Slick nav JS -->
    <script src="/web/assets/js/jquery.slicknav.min.js"></script>
    <!-- owl carousel JS -->
    <script src="/web/assets/js/owl.carousel.min.js"></script>
    <!-- Popup JS -->
    <script src="/web/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Isotope JS -->
    <script src="/web/assets/js/isotope.pkgd.min.js"></script>
    <!-- main JS -->
    <script src="/web/assets/js/main.js"></script>
<script type="text/javascript">

    function select(obj,pageIndex) {
        $.ajax({
            url: "/orders/profile/orders",
            data: {"uid": "1","pageIndex":pageIndex},
            type: "get",
            dataType: "json",
            success: function (data) {
                obj.msg = data;
            }
        })
    }

    $(function () {
        var app = new Vue({
            el: "#app",
            data: {msg: "", oid: ""},
            created: function () {
                var obj = this
                select(obj);
            },
            methods: {
                del(e) {
                    $(".mask3").children().eq(0).show()

                    this.oid = $(e.target).attr("data-orderid")


                },
                cancel() {
                    $(".mask3").children().eq(0).hide();
                },
                btn() {
                    var oid = this.oid;

                    $.ajax({
                        url: "/orders/profile/orders",
                        data: {"oid": oid},
                        type: "delete",
                        dataType: "json",
                        success: function (data) {
                            if (data.code = "200") {
                                 window.location.reload(true)
                            } else {
                                alert("删除失败")
                            }

                        }
                    })
                },
                prev(){
                    if (this.msg.object.pageIndex>1){
                        var pageIndex=this.msg.object.pageIndex-1
                          select(this,pageIndex)
                    }
                }
                ,next(){
                     if (this.msg.object.pageIndex<this.msg.object.pageCount){
                         var pageIndex=this.msg.object.pageIndex+1

                          select(this,pageIndex)
                    }
                }
            }
        });
    })


</script>
<div class="footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-6 w3ls_footer_grid_left">
                <div class="w3ls_footer_grid_left1">
                    <h3>关于爱乐</h3>
                    <div class="w3ls_footer_grid_left1_pos">
                        <div class="bottom-row">
                            <span>商务合作邮箱：971872973@qq.com</span>
                            <span class="bt-line">|</span>
                            <span>客服电话：17603649546</span>
                        </div>
                        <div class="bottom-row">
                            <span>用户投诉邮箱：1099773854@qq.com</span>
                            <span class="bt-line">|</span>
                            <span>友情链接：<a href="https://cq.meituan.com/?utm_source=wwwmaoyan"
                                          class="bottom-chain">美团网</a></span>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">中华人民共和国增值电信业务经营许可证&nbsp;渝A1-20190909</a>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">网络文化经营许可证&nbsp;京网文(2019)3897-330号</a>
                        </div>
                        <div class="bottom-row">
                            <a href="#" class="bottom-chain">爱乐用户服务协议</a>
                            <span class="bt-line">|</span>
                            <a href="#" class="bottom-chain">爱乐平台交易规则总则</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 w3ls_footer_grid_right">
                <a href="index.html"><h2 class="title">爱乐<span class="webtitle-bottom">电影</span></h2></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-5 w3ls_footer_grid1_left">
            <p>重庆爱乐文化传媒有限公司©2016 爱乐电影 aiyue.com </p>
        </div>
        <div class="col-md-7 w3ls_footer_grid1_right">
            <div class="col-lg-6 card-left">
                <a href="#"><img src="/web/images/web-permission.png"/></a>

            </div>
            <div class="col-lg-6 card-right">
                <a href="#"><img src="/web/images/permission-card.png"/></a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<script src="/web/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });
</script>
<!-- //Bootstrap Core JavaScript -->
<!-- here stars scrolling icon -->


</body>
</html>