<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>平台后端管理系统</title>
  <link rel="stylesheet" href="/web/layui/css/layui.css?t=2" media="all">
  <link rel="stylesheet" href="/web/css/common.css?t=2" media="all">
  <link href="/web/css/hover.css" rel="stylesheet" media="all">
  <link href="/web/css/splitpage.css" rel="stylesheet" media="all" />
  <style type="text/css">
  	.main-body{
  		margin-top: 50px;
  	}
  	.list-title{
  		font-weight:700;
  		font-size: 17px;
  		text-align: center;
  		margin: 0;
			padding: 0;
			line-height: 1.5em;
    	font-family: "Times New Roman", Times, serif;
    	color: #000000;
    	line-height:initial;
  	}
  	.list-title:hover{
  		color: lightblue;
  	}
  	.cinema-title{
  		font-size: 23px;
  		font-weight: 900;
  		font-family: "楷体";
  		margin-bottom: 20px;
  		margin-left: 0;
  		padding-left: 0;
  	}
  	.list-detail{
  		font-size: 13px;
  		font-style: italic;
  		text-align: center;
        padding-top: 10px;
  	}
  </style>
</head>
<style type="text/css" id="LAY_layadmin_theme"></style>
<body>
<div id="LAY_WRAP">
  <div id='LAY_app' class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
          <div class="layui-logo" lay-href=""> <span>导航菜单</span> </div>
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul class="layui-nav layui-nav-left layui-nav-tree" lay-filter="layui-nav-left">
              <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >套餐管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                        <a class="" href="/web/qian/check-list.html"> <cite >查看套餐</cite></a>
                      </dd>
                  </dl>
              </li>
              <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影片管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                          <a class="" href="/web/qian/movie-manage.html"><cite >影片资料</cite></a>
                      </dd>
                  </dl>
              </li>
              <li class="layui-nav-item">
                  <a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影院管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                          <a href="/web/qian/cinema.html"> <cite >影院资料</cite></a>
                      </dd>
                  </dl>
              </li>
               <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >日志管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                        <a class="" href="/web/qian/log.html"> <cite >查看日志</cite></a>
                      </dd>
                  </dl>
              </li>
          </ul>
      </div>
  </div>  

  <!--主体-->
  <div class="layui-body" id="LAY_app_body">
  	<!-- 头部区域 -->
    <div class="layui-header head">
          <ul class="layui-nav layui-layout-left" lay-filter="layadmin-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
              <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
              </a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
              <a href="#" onclick="flush()" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
              </a>
            </li>
            <li style="margin-left: 50px!important;" class="layui-nav-item layui-hide-xs" lay-unselect="">
                <a style="border-radius: 5px;margin-top: 5px;width: 100px;text-align: center" class="layui-btn layui-btn-danger hvr-buzz-out" href="/web/qian/stage-index.html">回到主页</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li style="cursor: pointer" class="layui-nav-item stage-title" lay-unselect="">
             	 爱乐后台管理系统
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"> <span><img src="/web/images/head.jpg" style="border-radius: 50% ;width: 40px;height: 40px;" /></span> <span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="set/user/password" href="javascript:;" v-text="admin.username"></a>
                    </dd>
                    <dd>
                        <a lay-href="set/user/info" href="/web/qian/person.html">基本资料</a>
                    </dd>
                    <hr>
                    <dd layadmin-event="logout" style="text-align: center;">
                        <a style="cursor: pointer" onclick="logout()">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
      </div>
    <div class="layui-fluid">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">
            	<span style="font-size:20px;color:red">影院资料管理</span>
            </div>
          </div>
        </div>
        <div class="layui-col-md12 main-body" id="app">
        	<div class="layui-col-lg10 layui-col-lg-offset1" style="background-color: white;">
        		<div class="cinema-title">
        			<span>影院列表</span>
        		</div>
        		<hr />
        		<div class="layui-col-lg12">
        			<div class="layui-col-lg2 list-title">
        				<span>用户名</span>
        			</div>
        			<div class="layui-col-lg2 list-title">
        				<span>密码</span>
        			</div>
        			<div class="layui-col-lg2 list-title">
        				<span>电话</span>
        			</div>
        			<div class="layui-col-lg2 list-title">
        				<span>影城名</span>
        			</div>
        			<div class="layui-col-lg2 list-title">
        				<span>LOGO</span>
        			</div>
        			<div class="layui-col-lg2 list-title">
        				<span>过期时间</span>
        			</div>
        		</div>
        		<hr />
        		<div class="layui-col-lg12" v-for="admin in cinemas">
        			<div class="layui-col-lg2 list-detail">
        				<span v-text="admin.username"></span>
        			</div>
        			<div class="layui-col-lg2 list-detail">
        				<span style="line-height: 50%" v-text="admin.password"></span>
        			</div>
        			<div class="layui-col-lg2 list-detail">
        				<span style="line-height: 50%" v-text="admin.phone"></span>
        			</div>
        			<div class="layui-col-lg2" style="text-align: center;">
                        <span v-text="admin.id" hidden="hidden"></span>
                        <button style="line-height: 50%" class="layui-btn layui-btn-danger" onclick="checkdetail(this)" v-text="admin.name"></button>
        			</div>
        			<div class="layui-col-lg2 list-detail" style="padding-bottom: 20px">
        				<span style="line-height: 50%">
        					<img :src="admin.logo" alt="图片找不到！" style="width: 80px;height: 40px;">
        				</span>
        			</div>
        			<div class="layui-col-lg2 list-detail">
        				<span style="line-height: 50%" v-text="admin.overDate"></span>
        			</div>
                    <hr />
        		</div>
                <div>
                    <div>
                        <div class="page"  v-show="show">
                            <div class="pagelist">
                                <span class="jump" :class="{disabled:pstart}" @click="prev()">上一页</span>
                                <span v-show="mypage.pageIndex>5" class="jump" @click="jumpPage(1)">1</span>
                                <span class="ellipsis"  v-show="efont">...</span>
                                <span class="jump" v-for="num in indexs" :class="{bgprimary:mypage.pageIndex==num}" @click="jumpPage(num)">{{num}}</span>
                                <span class="ellipsis"  v-show="ebehind">...</span>

                                <span :class="{disabled:pend}" class="jump" onclick="nextpage()">下一页</span>
                                <span v-show="mypage.pageIndex<mypage.pageCount-4" class="jump" @click="jumpPage(mypage.pageCount)">{{mypage.pageCount}}</span>

                                <span class="jumppoint">跳转到：</span>
                                <span class="jumpinp"><input type="text" v-model="changePage"></span>
                                <span class="jump gobtn" @click="jumpPage(changePage)">GO</span>
                            </div>
                        </div>
                    </div>
                </div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--辅助作用一般用于手机遮罩层-->
<div class="layui-layer-shade mobilenav" id="mobilenav" onClick="clearmobilenav()" style="z-index: 998; background-color: rgb(0, 0, 0); opacity: 0.3;display:none"></div>
</body>
<script type="text/javascript" src="/web/js/jquery.min.js"></script>
<script type="text/javascript" src="/web/layui/layui.js?t=2"></script>
<script type="text/javascript" src="/web/js/common.js?t=2"></script>
<script type="text/javascript" src="/web/js/vue.js"></script>
<script>
    var newlist = new Vue({
      el: '#app',
      data: {
        changePage:'',//跳转页
        cinemas:[],
        mypage:{},
        dateArr:[]
      },
    created:function(){
        var myvue = this;
        $.ajax({
            url:"/cinema-stage/admin/all",
            data:{"pageIndex":1},
            dataType:"json",
            type:"get",
            success:function (rt) {
                myvue.mypage = rt.object;
                myvue.cinemas = rt.list;
            }
        });
    },
      computed:{
         show:function(){
             return this.mypage.pageCount;
         },
         pstart: function() {
           return this.mypage.pageIndex == 1;
         },
         pend: function() {
           return this.mypage.pageIndex == this.mypage.pageCount;
         },
         efont: function() {
           if (this.mypage.pageCount <= 7) return false;
           return this.mypage.pageIndex > 5
         },
         ebehind: function() {
           if (this.mypage.pageCount <= 7) return false;
           var nowAy = this.indexs;
           return nowAy[nowAy.length - 1] != this.mypage.pageCount;
         },
         indexs: function() {
           var left = 1,
             right = this.mypage.pageCount,
             ar = [];
           if (this.mypage.pageCount >= 7) {
             if (this.mypage.pageIndex > 5 && this.mypage.pageIndex < this.mypage.pageCount - 4) {
               left = Number(this.mypage.pageIndex) - 3;
               right = Number(this.mypage.pageIndex) + 3;
             } else {
               if (this.mypage.pageIndex <= 5) {
                 left = 1;
                 right = 7;
               } else {
                 right = this.mypage.pageCount;

                 left = this.mypage.pageCount - 6;
               }
             }
           }
           while (left <= right) {
             ar.push(left);
             left++;
           }
           return ar;
         },
       }
    })
    function nextpage () {
        var pagenow = null;
        if(newlist.mypage.pageIndex<newlist.mypage.pageCount){
            pagenow = newlist.mypage.pageIndex+1;
            sendAjax(pagenow);
        }
    }
    function prev() {
        if(newlist.mypage.pageIndex>1){
            var pagenow = newlist.mypage.pageIndex-1;
            sendAjax(pagenow);
        }
    }
    function jumpPage(id) {
        sendAjax(id);
    }
    function sendAjax(pageIndex) {
        $.ajax({
            url:"/cinema-stage/admin/all",
            data:{"pageIndex":pageIndex},
            dataType:"json",
            type:"get",
            success:function (rt) {
                newlist.mypage = rt.object;
                newlist.cinemas = rt.list;
            }
        });
    }
    function checkdetail(t) {
        var aid = $(t).prev().text();
        var name = $(t).text();
        var mysrc = $(t).parent().next().children().children().attr("src");
        window.location.href="/web/qian/cinema-detail.html?aid="+aid+
        "&name="+name+"&mysrc="+mysrc;
    }
    function flush(){
        window.location.reload();
    }
    function logout() {
        $.ajax({
            url:"/cinema-stage/admin/logout",
            dataType:"json",
            type:"delete",
            success:function (rt) {
                window.location.href="/web/feng/backstage/login.html";
            }
        });
    }
</script>
</html>
