<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>日志管理</title>
    <link rel="stylesheet" href="/web/layui/css/layui.css?t=2" media="all">
    <link rel="stylesheet" href="/web/css/common.css?t=2" media="all">
    <link href="/web/css/mystyle.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="/web/js/jquery.min.js"></script>
    <script type="text/javascript" src="/web/layui/layui.js?t=2"></script>
    <script type="text/javascript" src="/web/js/common.js?t=2"></script>
    <script type="text/javascript" src="/web/js/vue.js"></script>

    <style type="text/css">
    </style>
</head>


<body>
<div id="LAY_WRAP">
    <div id='LAY_app' class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <div class="layui-logo" lay-href=""><span>导航菜单</span></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-left layui-nav-tree" lay-filter="layui-nav-left">
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i>
                        <cite>套餐管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="" href="/web/qian/check-list.html"> <cite>查看套餐</cite></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i>
                        <cite>影片管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="" href="/web/qian/movie-manage.html"><cite>影片资料</cite></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite>影院管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="/web/qian/cinema.html"> <cite>影院资料</cite></a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i>
                        <cite>日志管理</cite></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a class="" href="/web/qian/log.html"> <cite>查看日志</cite></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <!--主体-->
    <div class="layui-body" id=AY_app"L_body" id="app">
        <!-- 头部区域 -->
        <div class="layui-header head">
            <ul class="layui-nav layui-layout-left" lay-filter="layadmin-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect="">
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="#" onclick="flush()" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li style="margin-left: 50px!important;" class="layui-nav-item layui-hide-xs" lay-unselect="">
                    <a style="border-radius: 5px;margin-top: 5px;width: 100px;text-align: center"
                       class="layui-btn layui-btn-danger hvr-buzz-out" href="/web/qian/stage-index.html">回到主页</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li style="cursor: pointer" class="layui-nav-item stage-title" lay-unselect="">
                    爱乐后台管理系统
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href="javascript:;"> <span><img src="/web/images/head.jpg"
                                                       style="border-radius: 50% ;width: 40px;height: 40px;"/></span>
                        <span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a lay-href="set/user/password" href="javascript:;" v-text="admin.username"></a>
                        </dd>
                        <dd>
                            <a lay-href="set/user/info" href="/web/qian/person.html">基本资料</a>
                        </dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a style="cursor: pointer" onclick="logout()">退出</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div style="font-size:20px;color:red" class="layui-card-header">日志记录</div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">

                        <table id="table" class="layui-table">
                            <thead>
                            <tr id="head">
                                <td>操作人</td>
                                <td>操作类型</td>
                                <td>操作时间</td>
                                <td>操作等级</td>
                            </tr>
                            </thead>
                            <tbody id="tbody">

                            </tbody>
                            <tfoot>
                            <tr>

                                <td colspan="2">
                                    <span>总共</span>
                                    <span id="dataCount"></span>
                                    <span>条数据</span>
                                    <span>总共</span>
                                    <span id="pageCount"></span>
                                    <span>页数据</span>
                                    <span>当前第</span>
                                    <span id="pageIndex" style="color: #00bcd4"></span>
                                    <span>页</span>


                                </td>

                                <td colspan="2">
                                    <a herf="javascript;" onclick="prev()" class="layui-btn  layui-btn-warm">上一页</a>
                                    <a herf="javascript;" onclick="next()" class="layui-btn  layui-btn-warm">下一页</a>
                                </td>
                            </tr>

                            </tfoot>


                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--辅助作用一般用于手机遮罩层-->
<div class="layui-layer-shade mobilenav" id="mobilenav" onClick="clearmobilenav()"
     style="z-index: 998; background-color: rgb(0, 0, 0); opacity: 0.3;display:none"></div>
<script type="text/javascript">

     var pageIndex=1;
    function prev() {
        var pageIndex = parseInt($("#pageIndex").text());
      var pageCount = parseInt($("#pageCount").text());
        if (pageIndex > 1) {
            pageIndex = pageIndex - 1;
            selectlog(pageIndex);
        }
    }

    function next() {

        var pageIndex = parseInt($("#pageIndex").text());
        var pageCount = parseInt($("#pageCount").text());
        if (pageIndex < pageCount) {
            pageIndex = pageIndex + 1;
            selectlog(pageIndex);
        }

    }

    selectlog(pageIndex);

    function selectlog(pageIndex) {
        $.ajax({
            url: "/cinema-stage/log",
            dataType: "json",
            data: {"pageIndex": pageIndex},
            type: "get",
            success: function (rt) {
                $("#tbody").empty();

                var list = rt.list;
                $("#pageCount").text(rt.object.pageCount)
                $("#pageIndex").text(rt.object.pageIndex)
                $("#dataCount").text(rt.object.dataCount)
                for (var i = 0; i < list.length; i++) {

                    $("#tbody").append("<tr><td >" + list[i].username + "</td><td >" + list[i].operation + "</td><td >" + list[i].formatTime + "</td><td  class='layui'>" + list[i].optype + "</td></tr>")

                }


            }
        });
    }

    var aa = new Vue({
        el: "#app",
        data: {
            admin: "",
            logList: [],
            page: "",
            msg: ""
        },
        created: function () {
            var v = this;
            $.ajax({
                url: "/cinema-stage/admin/getAdmin",
                dataType: "json",
                type: "get",
                success: function (rt) {
                    v.admin = rt.object;
                }
            });
        },
    });


</script>
</body>

</html>