<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>平台后端管理系统</title>
  <link rel="stylesheet" href="/web/layui/css/layui.css?t=2" media="all">
  <link rel="stylesheet" href="/web/css/common.css?t=2" media="all">
  <link href="/web/css/hover.css" rel="stylesheet" media="all">
  <link href="/web/css/hover.css" rel="stylesheet" media="all">
  <style type="text/css">
  	.legend{
  		font-weight: 900;
  		color: #8B7500;
  		font-size: 25px;
  	}
  	.title-word{
  		font-family: "微软雅黑";
  		text-align: center;
  		font-weight: 700;
  		font-size: 15px;
  	}
  	.detail-word{
  		font-family: "微软雅黑";
  		text-align: center;
  		font-size: 13px;
  		font-weight: 600;
  		color: green;
  	}
  	.input-box{
  		border: none;
			outline: none;
			background-color: #F8F8F8;
			text-align: center;
			border-bottom: orangered 2px solid;
  	}
  </style>
</head>
<style type="text/css" id="LAY_layadmin_theme"></style>
<body>
<div id="LAY_WRAP">
  <div id='LAY_app' class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
          <div class="layui-logo" lay-href=""> <span>导航菜单</span> </div>
          <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
          <ul class="layui-nav layui-nav-left layui-nav-tree" lay-filter="layui-nav-left">
              <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >套餐管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                        <a class="" href="/web/qian/check-list.html"> <cite >查看套餐</cite></a>
                      </dd>
                  </dl>
              </li>
              <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影片管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                        <a class="" href="/web/qian/movie-manage.html"><cite >影片资料</cite></a>
                      </dd>
                  </dl>
              </li>
              <li class="layui-nav-item">
                  <a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影院管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd><a href="/web/qian/cinema.html"> <cite >影院资料</cite></a>
                      </dd>
                  </dl>
              </li>
               <li class="layui-nav-item">
                  <a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >日志管理</cite></a>
                  <dl class="layui-nav-child">
                      <dd>
                        <a class=""  href="/web/qian/log.html"> <cite >查看日志</cite></a>
                      </dd>
                  </dl>
              </li>
          </ul>
      </div>
  </div>  

  <!--主体-->
  <div class="layui-body" id="LAY_app_body">
  	<!-- 头部区域 -->
    <div class="layui-header head">
          <ul class="layui-nav layui-layout-left" lay-filter="layadmin-layout-left">
            <li class="layui-nav-item layadmin-flexible" lay-unselect="">
              <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
              </a>
            </li>
            <li class="layui-nav-item" lay-unselect="">
              <a href="#" onclick="flush()" layadmin-event="refresh" title="刷新">
                <i class="layui-icon layui-icon-refresh-3"></i>
              </a>
            </li>
            <li style="margin-left: 50px!important;" class="layui-nav-item layui-hide-xs" lay-unselect="">
                <a style="border-radius: 5px;margin-top: 5px;width: 100px;text-align: center" class="layui-btn layui-btn-danger hvr-buzz-out" href="/web/qian/stage-index.html">回到主页</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li style="cursor: pointer" class="layui-nav-item stage-title" lay-unselect="">
             	 爱乐后台管理系统
            </li>
            <li class="layui-nav-item" lay-unselect="">
                <a href="javascript:;"> <span><img src="/web/images/head.jpg" style="border-radius: 50% ;width: 40px;height: 40px;" /></span> <span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a lay-href="set/user/password" href="javascript:;" v-text="admin.username"></a>
                    </dd>
                    <dd>
                        <a lay-href="set/user/info" href="#">基本资料</a>
                    </dd>
                    <hr>
                    <dd layadmin-event="logout" style="text-align: center;">
                        <a style="cursor: pointer" onclick="logout()">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
      </div>
    <div class="layui-fluid" id="app">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card" style="border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
            <div style="font-size:20px;color:red" class="layui-card-header">个人资料管理</div>
          </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card-body">
        	<div class="layui-col-lg8 layui-col-lg-offset2">
        		<fieldset class="layui-col-lg12" style="border: black 1px solid;border-radius: 5px;">
        			<legend class="legend">管理员资料</legend>
        			<div class="layui-col-lg12" style="margin-top: 30px;">
    					<div class="layui-col-lg4 title-word">
    						<span>管理员姓名</span>
    					</div>
    					<div class="layui-col-lg4 title-word">
    						<span>登录密码</span>
    					</div>
    					<div class="layui-col-lg4 title-word">
    						<span>管理员电话</span>
    					</div>
    				</div>
    				<div class="layui-col-lg12" style="margin-top: 15px;"></div>
        			<form id="form">
        				<div class="layui-col-lg4 detail-word">
        					<span class="span-word" v-text="admin.username"></span>
        					<input class="input-box" name="username" type="text" style="display: none;" placeholder="请输入新的账户名" />
        				</div>
        				<div class="layui-col-lg4 detail-word">
        					<span class="span-word" v-text="admin.password"></span>
        					<input class="input-box" name="password" type="text" style="display: none;" placeholder="请输入新的密码" />
        				</div>
        				<div class="layui-col-lg4 detail-word">
        					<span class="span-word" v-text="admin.phone"></span>
        					<input class="input-box" name="phone" type="text" style="display: none;" placeholder="请输入新的电话号码" />
        				</div>
                        <input type="text" name="aid" hidden="hidden" v-model="admin.id">
        			</form>
        			<hr color="#009F95"/>
        			<br /><br />
        			<button class="layui-btn layui-btn-warm" style="float: right;" onclick="change(this)">更改信息</button>
        			<button class="layui-btn layui-btn-warm hide-btn" style="display:none;float: right;" onclick="sure()">确认</button>
        			<button class="layui-btn layui-btn-warm hide-btn" style="display:none;float: right;" onclick="goback(this)">返回</button>
        		</fieldset>
        	</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--辅助作用一般用于手机遮罩层-->
<div class="layui-layer-shade mobilenav" id="mobilenav" onClick="clearmobilenav()" style="z-index: 998; background-color: rgb(0, 0, 0); opacity: 0.3;display:none"></div>
</body>
<script type="text/javascript" src="/web/js/jquery.min.js"></script>
<script type="text/javascript" src="/web/layui/layui.js?t=2"></script>
<script type="text/javascript" src="/web/js/common.js?t=2"></script>
<script type="text/javascript" src="/web/js/vue.js?t=2"></script>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            admin:{}
        },
        created:function () {
            var v = this;
            $.ajax({
               url:"/cinema-stage/admin/getAdmin",
               dataType:"json",
               type:"get",
               success:function (rt) {
                   v.admin = rt.object;
               }
            });
        }
    });
	function change(t){
		$(".span-word").hide();
		$(".input-box").show();
		$(t).hide();
		$(".hide-btn").show();
	}
	function goback(th){
		$(".hide-btn").hide();
		$(".span-word").show();
		$(th).prev().prev().show();
		$(".input-box").hide();
	}
	function sure() {
        $.ajax({
            url:"/cinema-stage/admin/update",
            data:$("#form").serialize(),
            dataType:"json",
            type:"put",
            success:function (rt) {
                if(rt.code=="fail"){
                    alert(rt.message);
                    window.location.reload();
                }else if(rt.code=="nopermission"){
                    alert(rt.message);
                    window.location.href="/web/feng/backstage/login.html";
                }else{
                    alert(rt.message);
                }
            }
        });
    }
    function flush(){
        window.location.reload();
    }
    function logout() {
        $.ajax({
            url:"/cinema-stage/admin/logout",
            dataType:"json",
            type:"delete",
            success:function (rt) {
                window.location.href="/web/feng/backstage/login.html";
            }
        });
    }
</script>
</html>