<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
		<title>平台后端管理系统</title>
		<link rel="stylesheet" href="/web/layui/css/layui.css?t=2" media="all">
		<link rel="stylesheet" href="/web/css/common.css?t=2" media="all">
		<link href="/web/css/mystyle.css" type="text/css" rel="stylesheet" />
		<script type="text/javascript" src="/web/js/jquery.min.js"></script>
		<script type="text/javascript" src="/web/layui/layui.js?t=2"></script>
		<script type="text/javascript" src="/web/js/common.js?t=2"></script>
		<script type="text/javascript" src="/web/js/vue.js"></script>
        <script type="text/javascript" src="/web/ltjs/echarts.min.js"></script>
		<style type="text/css">
		</style>
	</head>
	<style type="text/css" id="LAY_layadmin_theme"></style>

	<body>
		<div id="LAY_WRAP">
			<div id='LAY_app' class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<div class="layui-logo" lay-href=""> <span>导航菜单</span> </div>
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-left layui-nav-tree" lay-filter="layui-nav-left">
						<li class="layui-nav-item">
							<a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >套餐管理</cite></a>
							<dl class="layui-nav-child">
								<dd>
									<a class="" href="/web/qian/check-list.html"> <cite >查看套餐</cite></a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影片管理</cite></a>
							<dl class="layui-nav-child">
								<dd>
									<a class="" href="/web/qian/movie-manage.html"><cite >影片资料</cite></a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >影院管理</cite></a>
							<dl class="layui-nav-child">
								<dd>
									<a href="/web/qian/cinema.html"> <cite >影院资料</cite></a>
								</dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a class="" href="javascript:;"><i class="layui-icon layui-icon-face-smile"></i> <cite >日志管理</cite></a>
							<dl class="layui-nav-child">
								<dd>
									<a class="" href="/web/qian/log.html"> <cite >查看日志</cite></a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<!--主体-->
			<div class="layui-body" id="LAY_app_body" id="app">
				<!-- 头部区域 -->
				<div class="layui-header head">
					<ul class="layui-nav layui-layout-left" lay-filter="layadmin-layout-left">
						<li class="layui-nav-item layadmin-flexible" lay-unselect="">
							<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
								<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
							</a>
						</li>
						<li class="layui-nav-item" lay-unselect="">
							<a href="#" layadmin-event="refresh" title="刷新">
								<i class="layui-icon layui-icon-refresh-3"></i>
							</a>
						</li>
						<li class="layui-nav-item layui-hide-xs" lay-unselect="">
							<input type="text" placeholder="搜索一家影院..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search/keywords=">
							<button class="layui-btn layui-btn-danger" onclick="searchcinema(this)" style="float: right;margin-top: 5px;">搜索</button>
							<span style="color: red;"></span>
						</li>
					</ul>
					<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
						<li style="cursor: default" class="layui-nav-item stage-title" lay-unselect="">
							爱乐后台管理系统
						</li>
						<li class="layui-nav-item" lay-unselect="">
							<a href="javascript:;"> <span><img src="/web/images/head.jpg" style="border-radius: 50% ;width: 40px;height: 40px;" /></span> <span class="layui-nav-more"></span></a>
							<dl class="layui-nav-child">
								<dd>
									<a lay-href="set/user/password" href="javascript:;" v-text="admin.username"></a>
								</dd>
								<dd>
									<a lay-href="set/user/info" href="/web/qian/person.html">基本资料</a>
								</dd>
								<hr>
								<dd layadmin-event="logout" style="text-align: center;cursor: pointer">
									<a onclick="logout()">退出</a>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
				<div class="layui-fluid">
					<div class="layui-row layui-col-space15">
						<div class="layui-col-md12">
							<div class="layui-card">
								<div style="font-size:20px;color:red" class="layui-card-header">爱乐电影，成就明天</div>
							</div>
						</div>
						<div class="layui-col-md12">
							<div class="layui-card">
                                <div id="main" style="width: 600px;height:400px; float: left"></div>
                                <div id="two" style="width: 600px;height:400px; float: right"></div>
                                <script type="text/javascript">
                                    // 基于准备好的dom，初始化echarts实例
                                    function init(data,num) {
                                        var myChart = echarts.init(document.getElementById('main'));
                                        // 指定图表的配置项和数据
                                        myChart.title = '坐标轴刻度与标签对齐';
                                        option = {
                                            color: ['#3398DB'],
                                            tooltip : {
                                                trigger: 'axis',
                                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                                }
                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            xAxis : [
                                                {
                                                    type : 'category',
                                                    data : data,
                                                    axisTick: {
                                                        alignWithLabel: true
                                                    }
                                                }
                                            ],
                                            yAxis : [
                                                {
                                                    type : 'value'
                                                }
                                            ],
                                            series : [
                                                {
                                                    name:'完成订单',
                                                    type:'bar',
                                                    barWidth: '60%',
                                                    data:num,
                                                }
                                            ]
                                        };

                                        // 使用刚指定的配置项和数据显示图表。
                                        myChart.setOption(option);
                                        
                                    }
                                    function two(data,num) {
                                        var myChart = echarts.init(document.getElementById('two'));
                                        // 指定图表的配置项和数据
                                        myChart.title = '坐标轴刻度与标签对齐';
                                        option = {
                                            color: ['#3398DB'],
                                            tooltip : {
                                                trigger: 'axis',
                                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                                    type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                                                }
                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            xAxis : [
                                                {
                                                    type : 'category',
                                                    data : data,
                                                    axisTick: {
                                                        alignWithLabel: true
                                                    }
                                                }
                                            ],
                                            yAxis : [
                                                {
                                                    type : 'value'
                                                }
                                            ],
                                            series : [
                                                {
                                                    name:'退款',
                                                    type:'bar',
                                                    barWidth: '60%',
                                                    data:num,
                                                }
                                            ]
                                        };

                                        // 使用刚指定的配置项和数据显示图表。
                                        myChart.setOption(option);

                                    }



                                    $.ajax({
                                        url:"/orders/profile/orders/count",
                                        dataType:"json",
                                        type:"get",
                                        success:function (rt) {
                                            var arrayObj = new Array();
                                            var num = new Array();
                                            var refundobj=new Array();

                                            for (var i = 0; i < rt.finish.length; i++) {
                                                arrayObj.push(rt.finish[i].date );
                                                num.push(rt.finish[i].count)
                                            }
                                            for (var i = 0; i < rt.refund.length; i++) {

                                                refundobj.push(rt.refund[i].count)
                                            }
                                            init(arrayObj,num)
                                            two(arrayObj,refundobj)

                                        }
                                    });
									function searchcinema(t) {
										$.ajax({
											url:"/cinema-stage/admin/searchname",
											data:{"shortName":$(t).prev().val()},
											dataType:"json",
											type:"get",
											success:function (rt) {
												console.log(rt.object)
												if(rt.code=="fail"){
													$(t).next().val(rt.message);
												}else{
													window.location.href="/web/qian/cinema-detail.html?aid="+rt.object.id+
															"&name="+rt.object.name+"&mysrc="+rt.object.logo;
												}
											}
										});
									}

                                </script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		33</div>
		<!--辅助作用一般用于手机遮罩层-->
		<div class="layui-layer-shade mobilenav" id="mobilenav" onClick="clearmobilenav()" style="z-index: 998; background-color: rgb(0, 0, 0); opacity: 0.3;display:none"></div>
	</body>
	<script type="text/javascript">
		function logout() {
			$.ajax({
				url:"/cinema-stage/admin/logout",
				dataType:"json",
				type:"delete",
				success:function (rt) {
					window.location.href="/web/feng/backstage/login.html";
				}
			});
		}
		function  selectCount(v) {

		}
		var app = new Vue({
			el:"#app",
			data:{
				admin:{},
				date:[],
                countNum:""
			},
			created:function () {

				var v = this;
				selectCount(v);
				$.ajax({
					url:"/cinema-stage/admin/getAdmin",
					dataType:"json",
					type:"get",
					success:function (rt) {
						v.admin = rt.object;
					}
				});
			}
		});
	</script>
</html>