<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.mapper.CinemaMapper">
  <resultMap id="BaseResultMap" type="com.woniu.entity.Cinema">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_address" jdbcType="VARCHAR" property="cAddress" />
    <result column="copy_right" jdbcType="VARCHAR" property="copyRight" />
    <result column="facility" jdbcType="VARCHAR" property="facility" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="city" jdbcType="INTEGER" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, c_name, c_address, copy_right, facility
  </sql>
  <resultMap id="CinemaPicResultMap" type="com.woniu.entity.Cinema">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_address" jdbcType="VARCHAR" property="cAddress" />
    <result column="copy_right" jdbcType="VARCHAR" property="copyRight" />
    <result column="facility" jdbcType="VARCHAR" property="facility" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <collection property="pics" ofType="com.woniu.entity.Picture">
      <result column="url" property="url" />
    </collection>
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="CinemaPicResultMap">
    select c.*,p.url
    from cinema c
    left join
    cinema_photo cp
    on c.id=cp.cid
    left join photo p
    on cp.pid=p.id
    where c.id=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from cinema
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.woniu.entity.Cinema" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cinema (c_name, c_address, copy_right, facility
      )
    values (#{cName,jdbcType=VARCHAR}, #{cAddress,jdbcType=VARCHAR}, #{copyRight,jdbcType=VARCHAR}, #{facility,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.woniu.entity.Cinema" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cinema
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cName != null">
        c_name,
      </if>
      <if test="cAddress != null">
        c_address,
      </if>
      <if test="copyRight != null">
        copy_right,
      </if>
      <if test="facility != null">
        facility,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null">
        #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="copyRight != null">
        #{copyRight,jdbcType=VARCHAR},
      </if>
      <if test="facility != null">
        #{facility,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.entity.Cinema">
    <!--@mbg.generated-->
    update cinema
    <set>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cAddress != null">
        c_address = #{cAddress,jdbcType=VARCHAR},
      </if>
      <if test="copyRight != null">
        copy_right = #{copyRight,jdbcType=VARCHAR},
      </if>
      <if test="facility != null">
        facility = #{facility,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.entity.Cinema">
    <!--@mbg.generated-->
    update cinema
    set c_name = #{cName,jdbcType=VARCHAR},
      c_address = #{cAddress,jdbcType=VARCHAR},
      copy_right = #{copyRight,jdbcType=VARCHAR},
      facility = #{facility,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByAid" parameterType="map" resultMap="BaseResultMap">
    select * from cinema
    where aid=#{aid}
    limit #{start},#{num}
  </select>
  <select id="count" resultType="java.lang.Integer" parameterType="int">
    <!--@mbg.generated-->
    select count(*) from cinema where aid=#{aid}
  </select>
    <select id="selectAll" resultMap="CinemaPicResultMap">
      select c.*,p.url
      from cinema c
      left join cinema_photo cp
      on c.id=cp.cid
      left join photo p
      on cp.pid=p.id
    </select>
  <select id="selectByCity" resultMap="BaseResultMap">
    select *
    from cinema
    where city=#{city}
    limit #{start},#{num}
  </select>
    <select id="getOverTime" resultType="java.util.Date">
        select overtime
        from admin
        where id=#{aid}
    </select>
  <!--条件查询影院信息-->
  <select id="getCinemas" resultMap="BaseResultMap">
    select distinct c.* from cinema c left join cinema_room cr on c.id=cr.cid
    where 1=1
    <if test="cinema!='default'">
      and c.c_name like '%${cinema}%'
    </if>
    <if test="city!='default'">
      and c.c_address like '%${city}%'
    </if>
    <if test="cinemaHall!='default'">
      and cr.type=#{cinemaHall}
    </if>
    <if test="num!=null and start!=null">
      limit #{start},#{num}
    </if>
  </select>
  <!--查询数据总条数-->
  <select id="getCountNum" resultType="Integer">
    select count(distinct c.id) from cinema c left join cinema_room cr on c.id=cr.cid
    where 1=1
    <if test="cinema!='default'">
      and c.c_name like '%${cinema}%'
    </if>
    <if test="city!='default'">
      and c.c_address like '%${city}%'
    </if>
    <if test="cinemaHall!='default'">
      and cr.type=#{cinemaHall}
    </if>

  </select>
  <select id="getCountNumByCity" resultType="Integer">
    select count(id) from cinema where city=#{city}
  </select>


  <select id="selectAllByAid" resultMap="BaseResultMap" parameterType="int">
    select * from cinema where aid=#{aid}
  </select>

</mapper>